.side-bar-inner{
  .sidebar-right &{
    padding-left: 20px;
  }
  .sidebar-left &{
    padding-right: 20px;
  }
}

.content-area-inner{
  padding: 90px 0;
}

/* ==============================
   Header
   ============================== */


.topbar{
  height: $topbar-height;
  border-bottom: 1px solid $border-color;
  text-align: center;
  position: relative;
  z-index: 30;
  .topbar-left{
    text-align: left;
    li:first-child{
      .top-navigation-submenu{
        left: 9px;
      }
    }
  }
  .topbar-right{
    text-align: right;
    .top-navigation{
      float: right;
      .top-navigation-submenu{
        left: auto;
        right: 0;
      }
      li:last-child{
        .top-navigation-submenu{
          right: 9px;
        }
      }
    }
  }
}


.branding{
  margin: $logo-margin;
  float: left;

  .site-logo{
    margin: 0;
    font-size: 24px;
  }
  img{
    height: 20px;

  }
  #site-description{
    display: none;
  }
}

.header-container{
  position: relative;
  z-index: 100;
}

.header-content{
  position: relative;
  z-index: 10;
}

.navbar-container-inner{
  position: relative;
}
.header-layout1,
.header-layout4,
.header-layout6{
  .navbar-container-content{
    position: relative;
  }
  .navbar-container-inner{
    padding: 0 40px;
  }
  .branding{
    position: absolute;
    left: 0;
    top: 0;
  }
  #nav{
    #main-navigation{
      float: none;
    }
    #main-nav-tool{
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }
  }
}


.header-layout1{
  .main-nav-outer{
    text-align: center;
  }
  #nav{
    #main-navigation{
      float: none;
    }
  }
}


.header-layout3{
  #nav{
    #main-navigation{
      float: none;
      text-align: center;
    }
  }
  .branding-outer{
    max-height: $topbar-height;
    overflow: hidden;
    position: relative;
  }
  .branding{
    float: none;
    margin: 13px 0;
  }
}

.header-layout4{
  #nav{
    #main-navigation{
      float: left;
    }
  }
}

.header-layout6{
  #nav{
    #main-navigation{
      float: left;
    }
  }
}


.header-layout7{
  .navbar-container-inner{
    padding: 0 40px;
  }
  .navbar-container-content{
    position: relative;
  }
  #nav{
    #main-nav-tool{
      position: absolute;
      right: 0;
      top: 0;
    }
    #main-navigation{
      float: right;
    }
  }
}



.header-sticky-background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  @include opacity(.95);
  @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.05));
  background: #FFF;
}


.is-sticky{
  .apply-sticky{
    position: fixed!important;
    width: 100%;
    top: 0;
    z-index: 1001;
    @include transition();

    #nav {
      #main-nav-socials,
      #main-nav-wc,
      #main-nav-tool,
      #main-navigation {
        > li {
          > a {
            line-height: $navbar-height-sticky;
          }
        }
      }
    }

    .branding{
      margin: $logo-margin-sticky;
    }

    .header-sticky-background{
      visibility: visible;
    }
  }

  &.sticky{
    .apply-sticky{
      border-color: transparent;
    }
    .apply-sticky{
      top: 0!important;
    }
  }
}

.sticky-header-down{
  .apply-sticky{
    top: -$navbar-height-sticky;
  }
}


.admin-bar{
  .is-sticky{
    .apply-sticky{
      top: 32px;
    }
    &.sticky{
      .apply-sticky{
        top: 32px!important;
      }
    }
  }
}


/* ==============================
   Footer
   ============================== */

#footer-top{
  background: $gray-bg;
  padding: 85px 0 60px;
}
#footer-area{
  position: relative;
  .footer-area-inner{
    padding: 82px 80px 40px;
  }

  .footer-area-right{
    background: url('../images/footer-bg.jpg') no-repeat center center;
    background-size: cover;
    color: #FFFFFF;
    .widget-title{
      color: #FFFFFF;
    }
  }
  .widget-container{
    margin-bottom: 30px;
    border: none;
    padding: 0;
    .widget-title{
      text-transform: uppercase;
      margin: 0 0 35px;
      letter-spacing: 0.2em;
    }
  }
}
#footer-bottom{
  padding: 25px 0;
  background: $gray-bg;
  .widget-container{
    margin: 0;
    padding: 0;
    .widget-title{
      margin: 8px 0;
      text-transform: uppercase;
    }
  }
  .social-nav{
    margin-top: 8px;
  }
}


#footer-copyright {
  padding: 35px 0;
  line-height: 24px;
  .socials-icon-wrapper{
    margin: 0;
  }
}

#bottom-nav{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    > li{
      display: inline-block;
      padding: 0 12px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-centered {
  text-align: center;

  #bottom-nav,
  .footer-copyright{
    margin-bottom: 15px;
  }
  > *:last-child{
    margin: 0;
  }
}
