/*
 * Title:   Responsive Style File
 * Author:  http://themeforest.net/user/Kite-Themes
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Retina logo
2. Styles for devices(>=1300px)
3. Styles for devices(>=1200px)
4. Styles for devices(<=1199px)
5. Styles for devices(<=991px )
6. Styles for devices(>=768px and <= 991px)
7. Styles for devices(<=767px )
8. Styles for devices(>=481px and <= 767px)
9. Styles for devices(<=600px)
10. Styles for devices(<=500px )
11. Styles for devices(<=480px )
*/

@import '../sass/utils/mixin';
@import '../sass/utils/variables';

/* 1. Retina logo */
@media only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
  .header-dark{
    .branding{
      &.retina-logo-wrapper{
        .retina-default-logo{ display: block; }
        .default-logo{ display: none; }
      }
    }
  }
  .header-light{
    .branding{
      &:not(.branding-mobile){
        &.retina-light-wrapper{
          .light-retina-logo{ display: block; }
          .light-logo{ display: none; }
        }
      }
    }
  }
}

/* 2. Styles for devices(>1300px) */
@media (min-width: 1300px) {
  .container {
    width: 1200px;
  }
  .product-detail-thumbarea{
    margin-right: 45px;
  }

  #footer-area .footer-area-inner {
    padding-left: 80px;
    padding-right: 80px;
  }

  .products-categories-carousel.style-normal{
    .category-banner{
      .category-banner-content{
        h3{
          font-size: 36px;
        }
      }
    }
  }

  .side-bar-inner{
    .sidebar-right &{
      padding-left: 20px;
    }
    .sidebar-left &{
      padding-right: 20px;
    }
  }

}

/* 3. Styles for devices(>=1200px) */
@media (min-width: 1200px) {

}


/* 4. Styles for devices(<=1199px) */
@media (max-width: 1199px) {
  #header-content-mobile{
    display: block;
  }
  #header{
    display: none;
  }
  .kt-products.kt-products-masonry{
    .product{
      .product-details{
        display: none;
      }
    }
  }

  .woocommerce {

    ul.shop-products{
      &.products-list{
        .product-title{
          margin-top: 0;
        }
        .product-content{
          margin-right: 5%;
          max-width: 30%;
        }
        .product-details{
          width: 65%;
        }
        .product-details-action{
          .product-actions{
            > div{
              margin-left: 15px;
            }
          }
        }
      }
    }
    div.product {
      .product-price-wrap{
        .woocommerce-product-rating{
          margin-left: 25px;
        }
        .woocommerce-review-link{
          padding-left: 25px;
        }
      }

      form.cart {
        .product-actions {
          margin-top: 20px;
          width: 100%;
          > div:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

}

/* 5. Styles for devices(<=991px ) */
@media (max-width: 991px) {

  .main-sidebar{
    margin-top: 40px;
  }

  .page-header .woocommerce-breadcrumb,
  .page-header .text-right {
    text-align: center;
  }

  .woocommerce {
    div.product{
      .product-images-wrap{
        margin-bottom: 14px;
      }
      .share-it{
        .social_icons li a{
          i{
            display: block;
          }
          span{
            display: none;
          }
        }
      }
      .woocommerce-tabs ul.tabs li + li{
        margin-left: 60px;
      }
      &.wc-single-product-quickview{
        .product-main-thumbnails{
          .owl-item{
            padding: 0 7px;
          }
        }
      }
    }
    .woocommerce-countdown{
      > div{
        + div{
          margin-left: 15px;
        }
      }
    }
    .products-shop-header{
      .shop-header-left,
      .shop-header-right{
        float: none;
      }
      #shop-header-categories{
        margin-top: 30px;
        display: none;
      }
      .shop-header-list{
        li.wc-header-categories{
          display: inline-block;
        }
        li.wc-header-search{
          float:right;
        }
      }
      .shop-header-right{
        .searchform input[type="text"]{
          width: 230px;
        }
      }
      .filter-hide{
        display: none;
      }
    }

    #kt-shop-filters{
      .widget{
        margin-bottom: 0;
        .widget-content{
          &.widget-active{
            > ul,
            > div{
              display: block;
              margin-top: 10px;
              margin-bottom: 10px;
            }
            .widget-title{
              &:before{
                content: '\f106';
              }
            }
          }

          > ul,
          > div{
            display: none;
          }
        }
        .widget-title{
          border-bottom: 1px solid $border-color;
          cursor: pointer;
          margin-bottom: 0;
          padding: 8px 0;
          position: relative;
          &:before{
            display: block;
          }
        }
      }
    }

  }

  .product-layout1{
    div.product{
      &.wc-single-product{
        .product-main-thumbnails{
          margin-left: -7px;
          margin-right: -7px;
          .owl-item {
            padding: 0 7px;
          }
        }
      }
    }
  }
  .product-layout2,
  .product-layout3{
    div.product.wc-single-product{
      div.summary{
        padding-top: 30px;
        max-width: none;
      }
    }
  }

  .product-layout3{
    div.product.wc-single-product{
      div.images{
        padding: 14px;
      }
      .product-main-thumbnails{
        .owl-item{
          padding: 0 7px;
        }
      }

    }
  }

  .themedev-product-popup.woocommerce{
    padding: 15px;
    margin: 15px 0;
    div.product.wc-single-product-quickview{
      .product-main-thumbnails{
        margin-left: -7px;
        margin-right: -7px;
        .owl-item{
          padding: 0 7px;
        }
      }
    }
  }


  #popup-wrap{
    .mfp-close{
      right: 15px;
      top: 0;
    }
    .newletter-popup-content{
      padding: 35px 25px;
    }
  }



}

/* 6. Styles for devices(>=768px and <= 991px) */
@media (min-width: 768px) and (max-width: 991px) {

}
/* 7. Styles for devices(>=768px ) */
@media (min-width: 768px) {
  .vc_row_kt{
    margin-left: -15px;
    margin-right: -15px;
  }
  .vc_general.vc_cta3{
    &.vc_cta3-style-transparent{
      &.vc_cta3-actions-right{
        .vc_cta3-actions{
          text-align: right;
        }
      }
      .vc_cta3-content{
        margin-bottom: 0;
      }
    }
  }
}

/* 7. Styles for devices(<=767px ) */
@media (max-width: 767px) {
  #footer-area .footer-area-inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  #footer{
    .vc_row{
      > .container{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .single-post-wrap{
    .share-it{
      .social_icons {
        margin: 0 -11px;
        li{
          float: left;
          padding: 0 11px;
          width: 33.33%;
          margin: 0;
          a{
            width: 100%;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            span{
              display: none;
            }
            i{
              display: block;
            }
          }
        }
      }
    }
  }

  .woocommerce{
    ul.shop-products{
      &.products-list{
        .product-details-action{
          .product-actions{
            display: none;
          }
        }
      }
    }
    div.product{
      &.wc-single-product-quickview{
        .entry-summary{
          margin-top: 30px;
        }
      }

    }
    .woocommerce-countdown{
      > div{
        + div{
          margin-left: 5px;
        }
      }
    }
    &.kt-products-countdown{
      ul.shop-products .product .product-inner{
        padding: 15px;
      }
    }
  }

  .woocommerce,
  .woocommerce-page{
    .woocommerce-result-count,
    .woocommerce-per-page{
      display: none;
    }
    .gridlist-toggle,
    .woocommerce-ordering{
      margin-right: 0;
      margin-left: 0;
    }

    table.cart,
    #content table.cart{
      td.actions{
        padding-left: 15px;
        padding-right: 15px;
        .btn{
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    #content{
      div.product{

        table.shop_attributes th{
          width: auto;
        }

        .woocommerce-tabs{
          ul.tabs{
            padding: 0;
            li{
              display: block;
              border-top: 2px solid $border-color;
              padding: 6px 0;
              + li{
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }

  #error404{
    padding: 0 15px;
    h1{
      font-size: 140px;
      line-height: 140px;
    }
  }

}

/* 8. Styles for devices(>=481px and <= 767px) */
@media (min-width: 481px) and (max-width: 767px) {

}

/* 9. Styles for devices(<=600px) */
@media (max-width: 600px) {
  body.opened-nav-animate {
    &.admin-bar {
      #wpadminbar {
        margin-top: -46px;
      }
    }
  }
}
/* 10. Styles for devices(<=500px ) */
@media (max-width: 500px) {

  .employees-content,
  .blog-post-wrap{
    width: 100%;
  }
  .woocommerce {
    .shop-products:not(.products-list){
      .product{
        width: 100% !important;
      }
    }
    .checkout_coupon{
      .input-group{
        display: block;
        .input-group-btn{
          display: block;
          width: 100%;
          margin-top: 10px;
          .btn{
            width: 100%;
            margin: 0;
          }
        }
      }
    }

    .products-shop-header{
      .shop-header-list{
        li{
          &.wc-header-search{
            display: none;
          }
        }
      }
    }

  }
  .flip-box{
    .flip-box-before{
      padding-left: 30px;
      padding-right: 30px;
    }
  }


}
/* 11. Styles for devices(<=480px ) */
@media (max-width: 480px) {

}
