@charset "UTF-8";
/* -------------------------------------------------------------
 * Title:   SCSS VARIABLES
 * Author:  http://themeforest.net/user/Kite-Themes
------------------------------------------------------------- */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
/**
 * Main WooCommerce styles
 */
.woocommerce {
  /**
   * Remove
   */
  /**
   * Buttons
   */
  /**
   * Star ratings
   */
  /*
  .quantity {
    background: $white;
    text-align: center;
    @include clearfix();
    max-width: 76px;
    @include box-shadow(1px, 0, 3px, rgba($black, 0.05));

    .qty {
      @include css3-prefix('appearance','textfield');
      height: 45px;
      float: left;
      border: none;
      background: transparent;
    }
    .qty-adjust{
      float: left;
      margin-right: 5px;
      padding-top: 9px;
      width: 20px;
      > a{
        display: block;
        height: 13px;
        color: $text;
        font-size: 20px;
        overflow: hidden;
        position: relative;
        i{
          display: block;
          line-height: 13px;
        }
      }
    }
  }
  */
  /**
   * Reviews
   */
  /**
   * Product Page
   */ }
  .woocommerce a.remove {
    font-weight: normal;
    color: #c9cacb !important; }
    .woocommerce a.remove:hover {
      color: #000000 !important;
      background: none !important; }
  .woocommerce a.added_to_cart {
    display: none !important; }
  .woocommerce .price ins {
    text-decoration: none; }
  .woocommerce div.product p.price,
  .woocommerce div.product span.price {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0;
    font-family: "Roboto Slab", serif;
    color: #000000; }
    .woocommerce div.product p.price ins,
    .woocommerce div.product span.price ins {
      font-weight: normal; }
  .woocommerce .woocommerce-product-rating {
    line-height: 1; }
    .woocommerce .woocommerce-product-rating .star-rating {
      margin-top: 4px;
      margin-right: 0; }
  .woocommerce a.compare {
    text-indent: -999px;
    position: relative; }
    .woocommerce a.compare:before {
      font-family: "FontAwesome";
      content: "";
      font-style: normal;
      font-weight: normal;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -khtml-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      text-indent: 0; }
    .woocommerce a.compare.wc-compare-loading:before {
      display: none; }
    .woocommerce a.compare .blockUI {
      display: none !important; }
    .woocommerce a.compare .blockElement {
      text-indent: 0;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -khtml-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      top: 50% !important;
      left: 50% !important;
      display: block !important;
      width: 100%;
      height: 100%; }
      .woocommerce a.compare .blockElement:before {
        font-family: "FontAwesome";
        content: "";
        font-style: normal;
        font-weight: normal;
        display: block;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear; }
  .woocommerce a.button,
  .woocommerce button.button {
    position: relative;
    text-align: center;
    line-height: 1.42857;
    padding: 10px 35px;
    display: inline-block;
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    color: #3b3e43;
    font-size: 14px;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-color: transparent;
    background: none; }
    .woocommerce a.button:before, .woocommerce a.button:after,
    .woocommerce button.button:before,
    .woocommerce button.button:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 10px;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      -khtml-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      -ms-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      -o-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; }
    .woocommerce a.button:before,
    .woocommerce button.button:before {
      left: 0;
      bottom: -1px;
      border-left: 2px solid #000000;
      border-bottom: 2px solid #000000; }
    .woocommerce a.button:after,
    .woocommerce button.button:after {
      top: -1px;
      right: 0;
      border-right: 2px solid #000000;
      border-top: 2px solid #000000; }
    .woocommerce a.button:active, .woocommerce a.button:focus, .woocommerce a.button:hover,
    .woocommerce button.button:active,
    .woocommerce button.button:focus,
    .woocommerce button.button:hover {
      background: none;
      border-color: transparent;
      color: #3b3e43; }
      .woocommerce a.button:active:before, .woocommerce a.button:active:after, .woocommerce a.button:focus:before, .woocommerce a.button:focus:after, .woocommerce a.button:hover:before, .woocommerce a.button:hover:after,
      .woocommerce button.button:active:before,
      .woocommerce button.button:active:after,
      .woocommerce button.button:focus:before,
      .woocommerce button.button:focus:after,
      .woocommerce button.button:hover:before,
      .woocommerce button.button:hover:after {
        height: 50%; }
    .woocommerce a.button:active:focus, .woocommerce a.button:active:hover,
    .woocommerce button.button:active:focus,
    .woocommerce button.button:active:hover {
      background: none;
      border-color: transparent; }
  .woocommerce .star-rating {
    font-family: FontAwesome;
    font-size: 12px;
    letter-spacing: 5px;
    width: 84px;
    height: 12px; }
    .woocommerce .star-rating:before {
      color: #c6c6c6;
      content: "\f006\f006\f006\f006\f006"; }
    .woocommerce .star-rating span:before {
      content: "\f006\f006\f006\f006\f006";
      color: #6fd9e9;
      text-indent: 0; }
  .woocommerce ul.cart_list,
  .woocommerce ul.product_list_widget {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px; }
    .woocommerce ul.cart_list li,
    .woocommerce ul.product_list_widget li {
      margin-bottom: 20px;
      padding: 0; }
      .woocommerce ul.cart_list li:last-child,
      .woocommerce ul.product_list_widget li:last-child {
        margin-bottom: 0; }
      .woocommerce ul.cart_list li a,
      .woocommerce ul.product_list_widget li a {
        color: #3b3e43;
        display: block;
        margin-bottom: 12px;
        line-height: 1; }
        .woocommerce ul.cart_list li a:hover,
        .woocommerce ul.product_list_widget li a:hover {
          color: #000000; }
      .woocommerce ul.cart_list li img,
      .woocommerce ul.product_list_widget li img {
        float: left;
        height: auto;
        margin: 0 20px 0 0;
        width: 100px; }
      .woocommerce ul.cart_list li > .amount,
      .woocommerce ul.product_list_widget li > .amount {
        margin-bottom: 5px; }
      .woocommerce ul.cart_list li .quantity,
      .woocommerce ul.cart_list li .amount,
      .woocommerce ul.product_list_widget li .quantity,
      .woocommerce ul.product_list_widget li .amount {
        color: #3b3e43; }
      .woocommerce ul.cart_list li .star-rating,
      .woocommerce ul.product_list_widget li .star-rating {
        margin-bottom: 5px; }
      .woocommerce ul.cart_list li .minicart_product_infos,
      .woocommerce ul.product_list_widget li .minicart_product_infos {
        float: left; }
      .woocommerce ul.cart_list li dl.variation,
      .woocommerce ul.product_list_widget li dl.variation {
        border: none;
        display: block;
        padding: 0;
        margin-bottom: 5px; }
        .woocommerce ul.cart_list li dl.variation dt,
        .woocommerce ul.cart_list li dl.variation dd,
        .woocommerce ul.product_list_widget li dl.variation dt,
        .woocommerce ul.product_list_widget li dl.variation dd {
          padding: 0; }
        .woocommerce ul.cart_list li dl.variation dd,
        .woocommerce ul.product_list_widget li dl.variation dd {
          margin-bottom: 0; }
      .woocommerce ul.cart_list li .quantity,
      .woocommerce ul.product_list_widget li .quantity {
        display: block; }
  .woocommerce .widget_shopping_cart .cart-desc, .woocommerce.widget_shopping_cart .cart-desc {
    display: none; }
    .woocommerce .widget_shopping_cart .cart-desc span, .woocommerce.widget_shopping_cart .cart-desc span {
      color: #000000; }
  .woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
    padding: 0; }
    .woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      margin: 0;
      font-size: 0; }
      .woocommerce .widget_shopping_cart .cart_list li a.remove:before, .woocommerce.widget_shopping_cart .cart_list li a.remove:before {
        font-family: "FontAwesome";
        content: "";
        font-style: normal;
        font-weight: normal;
        font-size: 14px; }
  .woocommerce .widget_shopping_cart .buttons, .woocommerce.widget_shopping_cart .buttons {
    margin: 30px -6px 0; }
    .woocommerce .widget_shopping_cart .buttons > span, .woocommerce.widget_shopping_cart .buttons > span {
      float: left;
      padding: 0 6px;
      width: 50%; }
    .woocommerce .widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a {
      padding-left: 0;
      padding-right: 0; }
  .woocommerce .widget_shopping_cart .minicart_product, .woocommerce.widget_shopping_cart .minicart_product {
    padding-right: 20px; }
  .woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
    border: medium none;
    margin: 20px 0 0;
    padding: 0; }
    .woocommerce .widget_shopping_cart .total .amount, .woocommerce.widget_shopping_cart .total .amount {
      float: right;
      font-size: 18px; }
  .woocommerce .yith-woocompare-widget ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none; }
    .woocommerce .yith-woocompare-widget ul li {
      padding-bottom: 10px;
      list-style: none; }
      .woocommerce .yith-woocompare-widget ul li a.title {
        padding-left: 20px;
        position: relative;
        color: #3b3e43; }
        .woocommerce .yith-woocompare-widget ul li a.title:before {
          content: '';
          width: 4px;
          height: 4px;
          -webkit-transform: rotate(45deg);
          -khtml-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          display: block;
          background: #3b3e43;
          position: absolute;
          top: 50%;
          margin-top: -2px;
          left: 0; }
        .woocommerce .yith-woocompare-widget ul li a.title:hover {
          color: #000000; }
  .woocommerce .widget_price_filter .price_slider_amount .button {
    float: right; }
  .woocommerce .widget_price_filter .price_label {
    font-size: 14px;
    text-align: left; }
  .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
    margin: 0 0 30px 4px;
    height: 3px;
    background: #ebebeb; }
  .woocommerce .widget_price_filter .ui-slider {
    position: relative;
    background: #f6f6f6;
    margin-bottom: 40px;
    height: 2px;
    margin-left: 4px; }
    .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
      background: #000000;
      height: 100%;
      position: absolute; }
    .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
      height: 14px;
      width: 4px;
      background: #000000;
      position: absolute;
      top: -6px;
      cursor: ew-resize;
      margin-left: -4px;
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
  .woocommerce nav.woocommerce-pagination ul {
    padding: 0;
    border: none;
    margin: 0;
    display: block;
    position: relative; }
    .woocommerce nav.woocommerce-pagination ul li {
      border: none;
      float: none;
      display: inline-block;
      overflow: visible; }
      .woocommerce nav.woocommerce-pagination ul li a,
      .woocommerce nav.woocommerce-pagination ul li span {
        border: 2px solid transparent;
        color: #666666;
        display: inline-block;
        font-size: 14px;
        line-height: 36px;
        margin: 0 2px;
        padding: 0;
        width: 40px;
        height: 40px; }
      .woocommerce nav.woocommerce-pagination ul li span.current,
      .woocommerce nav.woocommerce-pagination ul li a:hover,
      .woocommerce nav.woocommerce-pagination ul li a:focus {
        border-color: #f0f0f0;
        background: none; }
      .woocommerce nav.woocommerce-pagination ul li a.next,
      .woocommerce nav.woocommerce-pagination ul li a.prev {
        font-size: 18px;
        margin: 0;
        text-indent: -999px;
        overflow: hidden;
        position: absolute;
        top: 0; }
        .woocommerce nav.woocommerce-pagination ul li a.next:hover,
        .woocommerce nav.woocommerce-pagination ul li a.prev:hover {
          border-color: transparent;
          color: #000000; }
        .woocommerce nav.woocommerce-pagination ul li a.next:before,
        .woocommerce nav.woocommerce-pagination ul li a.prev:before {
          position: absolute;
          top: 0;
          display: block;
          width: 100%;
          text-indent: 0; }
      .woocommerce nav.woocommerce-pagination ul li a.next {
        right: 0; }
        .woocommerce nav.woocommerce-pagination ul li a.next:before {
          font-family: "delphinus";
          content: "";
          font-style: normal;
          font-weight: normal;
          right: 0;
          text-align: right; }
      .woocommerce nav.woocommerce-pagination ul li a.prev {
        left: 0; }
        .woocommerce nav.woocommerce-pagination ul li a.prev:before {
          font-family: "delphinus";
          content: "";
          font-style: normal;
          font-weight: normal;
          left: 0; }
  .woocommerce .woocommerce-per-page,
  .woocommerce .woocommerce-ordering {
    float: left;
    margin-bottom: 0; }
    .woocommerce .woocommerce-per-page label,
    .woocommerce .woocommerce-ordering label {
      line-height: 1;
      margin: 0 5px;
      vertical-align: middle;
      color: #999999;
      font-weight: normal; }
  .woocommerce .woocommerce-ordering {
    margin-left: 40px; }
  .woocommerce .gridlist-toggle {
    margin: 0 28px 0 0;
    padding: 0;
    list-style: none;
    float: right; }
    .woocommerce .gridlist-toggle li {
      display: inline-block; }
      .woocommerce .gridlist-toggle li ~ li {
        margin-left: 18px; }
      .woocommerce .gridlist-toggle li a {
        color: #666666; }
        .woocommerce .gridlist-toggle li a.active {
          color: #000000; }
  .woocommerce .products-tools {
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 50px;
    padding-bottom: 15px;
    font-size: 14px; }
    .woocommerce .products-tools:before, .woocommerce .products-tools:after {
      content: " ";
      display: table; }
    .woocommerce .products-tools:after {
      clear: both; }
  .woocommerce .product-badge {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -khtml-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .woocommerce .product-badge > span {
      color: #fff;
      font-size: 12px;
      line-height: 1;
      text-transform: uppercase;
      z-index: 1;
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 6px 12px;
      text-align: center;
      min-width: 70px; }
      .woocommerce .product-badge > span.wc-onsale-badge {
        background: #e34444; }
      .woocommerce .product-badge > span.wc-out-of-stock {
        background: #575b5f; }
      .woocommerce .product-badge > span.wc-new-badge {
        background: #000000; }
  .woocommerce ul.shop-products {
    margin: 0;
    padding: 0;
    list-style: none; }
    .woocommerce ul.shop-products:before, .woocommerce ul.shop-products:after {
      content: " ";
      display: table; }
    .woocommerce ul.shop-products:after {
      clear: both; }
    .woocommerce ul.shop-products.owl-kttheme .product {
      width: 100%;
      margin: 0; }
    .woocommerce ul.shop-products .product {
      margin-bottom: 50px;
      text-align: center;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -khtml-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -ms-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
      .woocommerce ul.shop-products .product .add_to_cart_button.loading:before, .woocommerce ul.shop-products .product .add_to_cart_button.added:before {
        margin-right: 10px; }
      .woocommerce ul.shop-products .product .add_to_cart_button.loading:before {
        font-family: "FontAwesome";
        content: "";
        font-style: normal;
        font-weight: normal;
        display: inline-block;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear; }
      .woocommerce ul.shop-products .product .add_to_cart_button.added:before {
        font-family: "FontAwesome";
        content: "";
        font-style: normal;
        font-weight: normal; }
      .woocommerce ul.shop-products .product-content {
        margin-bottom: 34px;
        position: relative;
        overflow: hidden; }
        .woocommerce ul.shop-products .product-content .product-actions,
        .woocommerce ul.shop-products .product-content .wc-addtocart-wrap {
          -webkit-transition: all 0.4s ease 0s;
          -khtml-transition: all 0.4s ease 0s;
          -moz-transition: all 0.4s ease 0s;
          -ms-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          position: absolute;
          -webkit-transform: translateX(-50%);
          -khtml-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          left: 50%;
          width: 212px;
          z-index: 5;
          text-align: center; }
        .woocommerce ul.shop-products .product-content .product-actions {
          top: -55px; }
          .woocommerce ul.shop-products .product-content .product-actions > div {
            width: 70px;
            display: inline-block;
            float: left;
            height: 48px;
            background: #ffffff;
            line-height: 48px;
            margin: 0 1px 0 0; }
            .woocommerce ul.shop-products .product-content .product-actions > div:last-child {
              margin-right: 0; }
            .woocommerce ul.shop-products .product-content .product-actions > div a {
              color: #999999;
              font-size: 14px;
              display: block;
              -webkit-border-radius: 0;
              -khtml-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              -o-border-radius: 0;
              border-radius: 0; }
              .woocommerce ul.shop-products .product-content .product-actions > div a:hover {
                background: #000000;
                color: #FFFFFF; }
        .woocommerce ul.shop-products .product-content .wc-addtocart-wrap {
          bottom: -55px; }
          .woocommerce ul.shop-products .product-content .wc-addtocart-wrap .btn {
            background: #ffffff;
            color: #000000;
            width: 100%;
            height: 48px;
            font-size: 14px;
            border-color: #ffffff;
            padding: 0;
            line-height: 44px; }
            .woocommerce ul.shop-products .product-content .wc-addtocart-wrap .btn:hover {
              background: #000000;
              color: #FFFFFF;
              border-color: #000000; }
        .woocommerce ul.shop-products .product-content:hover .product-thumbnail-effect img.first-img {
          filter: alpha(opacity=0);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          -webkit-opacity: 0;
          -khtml-opacity: 0;
          -moz-opacity: 0;
          -ms-opacity: 0;
          -o-opacity: 0;
          opacity: 0; }
        .woocommerce ul.shop-products .product-content:hover .product-thumbnail-effect img.second-img {
          z-index: 1;
          filter: alpha(opacity=100);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          -webkit-opacity: 1;
          -khtml-opacity: 1;
          -moz-opacity: 1;
          -ms-opacity: 1;
          -o-opacity: 1;
          opacity: 1; }
        .woocommerce ul.shop-products .product-content:hover .product-badge {
          filter: alpha(opacity=0);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          -webkit-opacity: 0;
          -khtml-opacity: 0;
          -moz-opacity: 0;
          -ms-opacity: 0;
          -o-opacity: 0;
          opacity: 0; }
        .woocommerce ul.shop-products .product-content:hover .product-actions {
          top: 10px; }
        .woocommerce ul.shop-products .product-content:hover .wc-addtocart-wrap {
          bottom: 10px; }
      .woocommerce ul.shop-products .product-thumbnail-effect img {
        -webkit-transition: all 0.4s ease-in-out;
        -khtml-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        width: 100%; }
        .woocommerce ul.shop-products .product-thumbnail-effect img.first-img {
          filter: alpha(opacity=100);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          -webkit-opacity: 1;
          -khtml-opacity: 1;
          -moz-opacity: 1;
          -ms-opacity: 1;
          -o-opacity: 1;
          opacity: 1; }
        .woocommerce ul.shop-products .product-thumbnail-effect img.second-img {
          position: absolute;
          top: 0;
          left: 0;
          filter: alpha(opacity=0);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          -webkit-opacity: 0;
          -khtml-opacity: 0;
          -moz-opacity: 0;
          -ms-opacity: 0;
          -o-opacity: 0;
          opacity: 0; }
      .woocommerce ul.shop-products .product-title {
        font-size: 16px;
        letter-spacing: 0.12em;
        margin-bottom: 5px;
        text-transform: none; }
      .woocommerce ul.shop-products .product-details-action {
        display: none;
        margin-top: 15px; }
        .woocommerce ul.shop-products .product-details-action .product-actions > div {
          display: inline-block;
          float: left;
          width: 60px;
          height: 48px;
          line-height: 44px;
          margin-left: 26px;
          margin-top: 0; }
          .woocommerce ul.shop-products .product-details-action .product-actions > div:last-child {
            margin-right: 0; }
          .woocommerce ul.shop-products .product-details-action .product-actions > div a {
            display: block;
            width: 60px;
            height: 48px;
            border: 2px solid #e3e3e3;
            text-align: center;
            color: #666666;
            -webkit-border-radius: 0;
            -khtml-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0; }
            .woocommerce ul.shop-products .product-details-action .product-actions > div a:hover {
              color: #000000;
              border-color: #000000; }
        .woocommerce ul.shop-products .product-details-action .wc-addtocart-wrap {
          float: left;
          width: 212px; }
          .woocommerce ul.shop-products .product-details-action .wc-addtocart-wrap a {
            background: none;
            color: #000000;
            height: 48px;
            font-size: 14px;
            border-color: #000000;
            padding: 0;
            line-height: 44px;
            display: block; }
            .woocommerce ul.shop-products .product-details-action .wc-addtocart-wrap a:hover {
              background: #000000;
              color: #FFFFFF; }
      .woocommerce ul.shop-products .product .price {
        color: #666666; }
      .woocommerce ul.shop-products .product-description {
        margin-bottom: 34px; }
    .woocommerce ul.shop-products.products-list .product {
      margin: 0 15px;
      padding: 40px 0;
      border-bottom: 1px solid #ebebeb;
      width: 100%;
      text-align: left; }
      .woocommerce ul.shop-products.products-list .product:first-child {
        padding-top: 0; }
      .woocommerce ul.shop-products.products-list .product:last-child {
        border-bottom: none; }
      .woocommerce ul.shop-products.products-list .product-title {
        margin-bottom: 10px;
        margin-top: 20px; }
      .woocommerce ul.shop-products.products-list .product-content {
        float: left;
        max-width: 270px;
        margin-bottom: 0;
        margin-right: 60px; }
      .woocommerce ul.shop-products.products-list .product-details {
        margin-left: 330px;
        overflow: hidden;
        position: relative; }
      .woocommerce ul.shop-products.products-list .product-details-action {
        display: block; }
  .woocommerce #reviews .comments-title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.075em;
    color: #666;
    font-family: "Karla", arial, sans-serif;
    text-transform: none;
    margin-bottom: 55px; }
  .woocommerce #reviews #respond p {
    margin-bottom: 30px; }
    .woocommerce #reviews #respond p.form-submit {
      margin-left: -15px;
      margin-right: -15px; }
      .woocommerce #reviews #respond p.form-submit:before, .woocommerce #reviews #respond p.form-submit:after {
        content: " ";
        display: table; }
      .woocommerce #reviews #respond p.form-submit:after {
        clear: both; }
  .woocommerce #reviews #comment {
    height: 150px; }
  .woocommerce #reviews .comment-form-rating,
  .woocommerce #reviews .comment-form-button {
    float: left;
    width: 50%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 10px; }
  .woocommerce #reviews .comment-form-rating p {
    margin-bottom: 0 !important; }
  .woocommerce #reviews .comment-form-rating .stars {
    border: 2px solid #ebebeb;
    padding-top: 16px;
    font-size: 12px;
    margin: 0; }
  .woocommerce #reviews .comment-form-rating label {
    display: none; }
  .woocommerce #reviews .comment-form-rating a {
    margin: 0 2px; }
  .woocommerce #reviews .comment-form-rating .stars,
  .woocommerce #reviews .comment-form-button .btn {
    height: 53px; }
  .woocommerce #reviews #comments ol.commentlist {
    padding: 0;
    margin: 0;
    list-style: none; }
    .woocommerce #reviews #comments ol.commentlist li {
      margin-bottom: 40px; }
      .woocommerce #reviews #comments ol.commentlist li .comment-avatar {
        max-width: 45px;
        border-radius: 100%;
        float: left;
        margin-right: 20px; }
      .woocommerce #reviews #comments ol.commentlist li img.avatar {
        border: medium none;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        padding: 0;
        position: static;
        float: none;
        width: auto; }
      .woocommerce #reviews #comments ol.commentlist li .comment-body {
        overflow: hidden;
        position: relative; }
        .woocommerce #reviews #comments ol.commentlist li .comment-body .comment-meta .comment-author,
        .woocommerce #reviews #comments ol.commentlist li .comment-body .comment-meta .comment-date,
        .woocommerce #reviews #comments ol.commentlist li .comment-body .comment-meta .star-rating {
          display: inline-block;
          margin: 0 30px 0 0; }
        .woocommerce #reviews #comments ol.commentlist li .comment-body .comment-meta .comment-author {
          font-size: 16px;
          font-family: "Karla", arial, sans-serif;
          text-transform: none; }
        .woocommerce #reviews #comments ol.commentlist li .comment-body .comment-meta .star-rating {
          float: none;
          margin-right: 0; }
        .woocommerce #reviews #comments ol.commentlist li .comment-body .description *:last-child {
          margin-bottom: 0; }
  .woocommerce div.product .woocommerce-breadcrumb {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 35px; }
    .woocommerce div.product .woocommerce-breadcrumb .delimiter {
      padding: 0 8px; }
  .woocommerce div.product .product-images-wrap {
    margin-bottom: 30px;
    position: relative; }
    .woocommerce div.product .product-images-wrap .owl-controls {
      bottom: 8px;
      margin: 0;
      position: absolute;
      right: 9px; }
      .woocommerce div.product .product-images-wrap .owl-controls .owl-buttons > div {
        width: 60px;
        height: 48px;
        padding: 0;
        text-align: center;
        background: #fff;
        -webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.1);
        -khtml-box-shadow: 1px 0 3px rgba(0,0,0,0.1);
        -moz-box-shadow: 1px 0 3px rgba(0,0,0,0.1);
        -ms-box-shadow: 1px 0 3px rgba(0,0,0,0.1);
        -o-box-shadow: 1px 0 3px rgba(0,0,0,0.1);
        box-shadow: 1px 0 3px rgba(0,0,0,0.1);
        -webkit-opacity: 1;
        -khtml-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0; }
        .woocommerce div.product .product-images-wrap .owl-controls .owl-buttons > div i {
          font-size: 14px;
          color: #999;
          line-height: 48px; }
  .woocommerce div.product .product-main-thumbnails {
    margin-left: -15px;
    margin-right: -15px;
    width: auto; }
    .woocommerce div.product .product-main-thumbnails .owl-item {
      padding: 0 15px; }
  .woocommerce div.product .product_title {
    border-bottom: 2px solid #ebebeb;
    font-size: 18px;
    margin: 0 0 30px;
    padding-bottom: 30px; }
  .woocommerce div.product .product-price-wrap {
    margin-bottom: 35px;
    line-height: 1; }
    .woocommerce div.product .product-price-wrap p.price {
      font-size: 24px;
      float: left; }
    .woocommerce div.product .product-price-wrap .woocommerce-product-rating {
      float: left;
      margin: 3px 0 0 50px; }
    .woocommerce div.product .product-price-wrap .woocommerce-review-link {
      display: inline-block;
      font-size: 14px;
      padding-left: 48px; }
  .woocommerce div.product form.cart {
    margin-bottom: 45px; }
    .woocommerce div.product form.cart div.quantity {
      float: left;
      width: 60px;
      margin-right: 30px; }
      .woocommerce div.product form.cart div.quantity input {
        height: 48px;
        text-align: center; }
        .woocommerce div.product form.cart div.quantity input:focus {
          border-color: #000000; }
    .woocommerce div.product form.cart .btn-addtocart {
      background: transparent;
      border-color: #000000;
      color: #000000;
      font-size: 14px;
      height: 48px;
      line-height: 44px;
      padding: 0 45px;
      float: left; }
      .woocommerce div.product form.cart .btn-addtocart:hover {
        background: #000000;
        border-color: #000000;
        color: #ffffff; }
    .woocommerce div.product form.cart .product-actions {
      float: left; }
      .woocommerce div.product form.cart .product-actions > div {
        text-align: center;
        float: left;
        margin: 0 0 0 30px; }
        .woocommerce div.product form.cart .product-actions > div a {
          width: 60px;
          height: 48px;
          border: 2px solid #e3e3e3;
          color: #999999;
          overflow: hidden;
          position: relative;
          line-height: 44px;
          display: block;
          -webkit-border-radius: 0;
          -khtml-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0; }
          .woocommerce div.product form.cart .product-actions > div a:hover {
            border-color: #000000;
            color: #000000; }
    .woocommerce div.product form.cart table.variations label {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 5px;
      text-align: left; }
    .woocommerce div.product form.cart table.variations td.value {
      padding-right: 0; }
    .woocommerce div.product form.cart table.variations select {
      margin-right: 0; }
    .woocommerce div.product form.cart .single_variation_wrap .single_variation {
      margin-bottom: 10px; }
    .woocommerce div.product form.cart .single_variation_wrap .variations_button {
      margin-top: 15px; }
    .woocommerce div.product form.cart .single_variation_wrap .woocommerce-variation-availability p {
      margin-bottom: 0; }
  .woocommerce div.product .product_meta {
    padding-bottom: 30px;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 35px; }
    .woocommerce div.product .product_meta > span {
      display: block; }
      .woocommerce div.product .product_meta > span a {
        color: #666666; }
        .woocommerce div.product .product_meta > span a:hover {
          color: #000000; }
  .woocommerce div.product .woocommerce-tabs {
    padding: 90px 0;
    background: #f6f6f6; }
    .woocommerce div.product .woocommerce-tabs ul.tabs {
      text-transform: uppercase;
      overflow: visible;
      margin: 0 0 50px;
      padding: 0 0 30px; }
      .woocommerce div.product .woocommerce-tabs ul.tabs:before {
        border-bottom: 2px solid #ebebeb; }
      .woocommerce div.product .woocommerce-tabs ul.tabs li {
        border: none;
        margin: 0;
        padding: 0;
        background: none; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after {
          display: none; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li + li {
          margin-left: 140px; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li a {
          padding: 0;
          line-height: normal;
          font-size: 14px;
          font-family: "Roboto Slab", serif;
          letter-spacing: 0.15em;
          font-weight: bold;
          color: #999999; }
          .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
            background: none; }
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
          background: none; }
          .woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
            color: #000000; }
    .woocommerce div.product .woocommerce-tabs .panel {
      background: none;
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      -khtml-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      border: none; }
  .woocommerce div.product table.shop_attributes {
    border: medium none; }
    .woocommerce div.product table.shop_attributes th {
      padding: 8px 0;
      font-weight: normal;
      width: 260px; }
    .woocommerce div.product table.shop_attributes td, .woocommerce div.product table.shop_attributes th {
      border-bottom: 1px dashed #ebebeb; }
    .woocommerce div.product table.shop_attributes .alt td, .woocommerce div.product table.shop_attributes .alt th {
      background: none; }
  .woocommerce .related-upsells-tabs {
    padding: 100px 55px; }
    .woocommerce .related-upsells-tabs .owl-carousel-kt {
      margin-bottom: 0; }

.yith-wcwl-add-button > a i {
  margin: 0; }

.woocommerce,
.woocommerce-page {
  /**
   * Product page
   */ }
  .woocommerce .woocommerce-result-count,
  .woocommerce-page .woocommerce-result-count {
    float: right;
    margin: 0; }
  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering {
    float: left; }
  .woocommerce div.product div.summary,
  .woocommerce div.product div.images,
  .woocommerce #content div.product div.summary,
  .woocommerce #content div.product div.images,
  .woocommerce-page div.product div.summary,
  .woocommerce-page div.product div.images,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page #content div.product div.images {
    width: auto;
    float: none;
    margin-bottom: 90px; }

/* ==============================
   15. Shop
   ============================== */
.buttons-wishlist {
  margin: 30px 0 0; }

.shopping-bag .cart_list {
  max-height: 300px;
  overflow: auto; }
.shopping-bag .widget_shopping_cart {
  margin-bottom: 0 !important; }
.shopping-bag .shopping-bag-content {
  position: absolute;
  border: 1px solid #eaeaea;
  right: 0;
  top: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  -khtml-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  width: 325px;
  padding: 27px 30px 30px;
  visibility: hidden;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(0, 40px);
  -khtml-transform: translate(0, 40px);
  -moz-transform: translate(0, 40px);
  -ms-transform: translate(0, 40px);
  -o-transform: translate(0, 40px);
  transform: translate(0, 40px);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  .shopping-bag .shopping-bag-content:before {
    top: -4px;
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    background: #FFFFFF;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 20px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea; }
.shopping-bag:hover .shopping-bag-content {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -khtml-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible; }

.mCSB_scrollTools {
  right: -5px; }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #3b3e43;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -khtml-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #000000; }
  .mCSB_scrollTools .mCSB_draggerRail {
    background: #ebebeb;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }

/* ==============================
   15. ShortCodes
   ============================== */
/*
.wc-products-tab{
  .wc-products-tab-heading{
    @include clearfix();
  }
  &.wc-products-right{
    .nav{
      float: left;
    }
    .kt-heading{
      float: right;
    }
  }
  &.wc-products-left{
    .nav{
      float: right;
    }
    .kt-heading{
      float: left;
    }
  }
  &.wc-products-center{
    .nav{
      text-align: center;
      margin-bottom: 80px;
    }
  }
  .nav-divider-1{
    position: relative;
    height: 50px;
    margin-bottom: 80px;

    &:after,
    &:before{
      width: 75px;
      height: 2px;
      background: $gray-text;
      content: "";
      position: absolute;
      top: 25px;
      left: 50%;
      @include transform(translateX(-50%) rotate(45deg));
    }
    &:after{
      @include transform(translateX( -50%) rotate(-45deg));
    }
  }

}


.wc-products-widget-carousel{
  margin-bottom: $vspacing;
  .products-widget-wrap{
    position: relative;
    padding-right: 75px;
    margin-bottom: 40px;
  }
  .products-widget-heading{
    margin: 0;
  }
  .owl-carousel-kt{
    margin-bottom: 0;
  }
  .owl-controls{
    margin: 0;
  }
  .owl-buttons{
    @include translate(y);
    height: 25px;
    right: 0;

    > div{
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 18px;
      margin: 0 5px;
    }
  }
}
*/
/*
 * Category banner carousel
 */
.category-banner {
  position: relative;
  text-align: center;
  overflow: hidden; }
  .category-banner:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5; }
  .category-banner img {
    width: 100%; }
  .category-banner .category-banner-content {
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10; }
    .category-banner .category-banner-content > *:last-child {
      margin-bottom: 0; }
    .category-banner .category-banner-content h3 {
      margin-bottom: 35px;
      color: #FFFFFF;
      letter-spacing: 0.2em;
      font-size: 36px; }
    .category-banner .category-banner-content ul {
      margin: 0;
      list-style: none;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -khtml-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      .category-banner .category-banner-content ul li {
        font-size: 14px;
        line-height: 36px; }
        .category-banner .category-banner-content ul li a {
          color: #cdcdcd; }
          .category-banner .category-banner-content ul li a:hover {
            color: #FFFFFF; }
  .category-banner:hover ul {
    margin: 0 0 35px;
    max-height: 600px; }

/*# sourceMappingURL=woocommerce.css.map */
