/* 1. Styles for devices(<=1650px) */
@media (max-width: 1650px) {
  .demo-item{
    > a{
      width: 500px;
    }
  }
}

@media (max-width: 1200px) {
  .intro-header{
    background-attachment: scroll;
  }
  .demo-item{
    margin-left: 0!important;
    margin-right: 0!important;
    > a{
      width: 440px;
    }
  }
}

@media (max-width: 991px) {
  .demo-item{
    > a{
      width: 340px;
    }
  }
}

@media (max-width: 767px) {
  .demo-item{
    float: none!important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    > a{
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .cd-intro{
    background-attachment: scroll;
  }
  .cd-intro-content {
    h1{
      font-size: 18px;
    }
    p{
      font-size: 13px;
    }
  }
}
