
.comments-area {
  margin-bottom: 55px;
  .comment-list {
    list-style: none;
    margin: 0 0 85px;
    padding: 0;

    .comment-respond{
      padding-left: 25px;
    }
  }
  .children {
    list-style: outside none none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background: #e1e1e1;
    }
    > li {
      position: relative;
      &:before {
        background: #e1e1e1;
        content: "";
        height: 1px;
        left: -25px;
        position: absolute;
        top: 25px;
        width: 12px;
      }
    }
  }

  .comment-notes,
  .form-allowed-tags {
    display: none;
  }

  .comment-respond {
    margin-bottom: 30px;
    .comment-form{
      textarea,
      input[type=text] {
        border: none;
        border-bottom: 2px solid $border-color;
        padding: 10px 0;
        height: auto;
        &:focus {
          border-color: $gray-text;
          color: $gray-text;
        }
      }
      textarea{
        height: 55px;
        width: 100% !important;
      }
      .form-submit {
        padding-top: 15px;
      }
    }
  }


  .comment-item {
    padding: 25px;
    background: $gray-bg;
    margin-bottom: 30px;
    min-height: 120px;
    .comment-avatar {
      float: left;
      margin-right: 20px;
      max-width: 70px;
    }
    .comment-body {
      padding-left: 90px;
      position: relative;
      .comment-meta {
        margin: 0 0 12px;
        line-height: 15px;
        .comment-author {
          color: #000000;
          font-size: 14px;
          font-weight: 700;
          text-transform: none;
          display: inline-block;
          padding: 0;
          margin: 0 10px 0 0;
          line-height: 15px;
        }
        .comment-metadata {
          color: $gray-text;
          font-size: 12px;
          font-weight: bold;
          display: inline-block;
        }
      }
      .comment-entry{
        blockquote{
          background: #FFF;
        }
        p:last-child{
          margin: 0;
        }
      }
      .comment-actions {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.075em;
        line-height: 15px;
        position: absolute;
        right: 0;
        top: 0;
        a{
          color: $extra-color;
          display: inline-block;
          + a{
            margin-left: 10px;
          }
        }
      }
    }
  }

  #comment-nav-above{
    margin: -55px 0 85px
  }
  .comment-navigation{
    a{
      color: $gray-text;
      &:hover{
        color: $primary-color;
      }
    }
  }


}
