
/*
 * 13.3 Comments Area
 */

.comment-title{
  padding: 80px 0;
  @include clearfix();
  .comment-text{
    font-size: 24px;
    text-transform: none;
    margin: 0;
    float: left;
    span{
      color: $primary-color;
    }
  }
  .leave-comment{
    float: right;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    a{
      color: $text;
      position: relative;
      i{
        font-size: 36px;
        line-height: 28px;
        vertical-align: middle;
      }
      &:hover{
        color: $primary-color;
      }
    }
  }
}

.comment-list-wrap{
  padding: 48px 0;
}

.comments-area {
  margin-top: 40px;
  .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li{
      > .comment-item{
        padding: 40px 150px;
      }
      > .children{
        padding: 0 0 0 250px;
      }
      &:first-child{
        border: none;
        > .comment-item{
          border: none;
        }
      }
      > .comment-respond{
        padding: 0 150px;
      }
    }

    .bypostauthor{
      > .comment-item {
        .comment-author{
          &:after{
            margin-left: 5px;
            @include FontIcon('\e08a', 'ElegantIcons');
          }
        }
      }
    }

    .comment-respond{
      background: none;
      padding: 0 150px 0 0;
      margin-top: -10px;

      .comment-reply-title{
        margin-bottom: 30px;
        font-size: 18px;
      }
      .comment-form{
        @include box-shadow(0,0,0);
        padding: 0;
        margin-bottom: 30px;
      }
    }

  }
  .children {
    list-style: outside none none;
    margin: 0;
    padding-left: 100px;
    position: relative;

    .comment-avatar {
      width: 70px;
    }
    .children {
      .comment-respond{
        .comment_field_wrap{
          margin: 0;
          .comment_field-column{
            float: none;
            padding: 0;
            width: auto;
          }
        }
      }
    }
  }

}

.no-comments{
  padding: 0 150px;
}


.comment-item{
  border-top: 2px solid $border-color;
  padding: 30px 150px 30px 0;
  margin: 0 auto;
  @include clearfix();

  .comment-avatar {
    float: left;
    margin-right: 30px;
    max-width: 100px;
    position: relative;
    z-index: 2;
  }

  .comment-meta{
    @include clearfix();
    margin-bottom: 17px;
  }

  .comment-body {
    position: relative;
    overflow: hidden;
    .comment-author {
      color: $text;
      display: block;
      float: left;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: -3px 0 0;
      padding: 0;
      a{
        color: $text;
        &:hover{
          color: $primary-color;
        }
      }
    }

    .comment-date{
      color: #c9cacb;
      display: block;
      float: left;
      font-size: 12px;
      line-height: 20px;
      margin: -3px 0 0 25px;
      padding-left: 25px;
      position: relative;

      &:before{
        content: '';
        width: 4px;
        height: 4px;
        position: absolute;
        left: 0;
        display: block;
        background: $primary-color;
        @include border-radius(50%);
        @include translate(y);

      }
    }

    .comment-entry{
      line-height: 24px;
      p{
        margin-bottom: 20px;
        &:last-child{
          margin: 0;
        }
      }
    }

    .star-rating,
    .comment-actions{
      position: absolute;
      right: 0;
      top: 0;
    }

    .comment-actions {
      font-size: 12px;
      font-weight: normal;
      line-height: 15px;
      text-transform: uppercase;
      a{
        color: $text;
        &:hover{
          color: $primary-color;
        }
        + a{
          margin-left: 15px;
        }
      }
    }
  }
}



/*
 * 13.4 Comment Form
 */
.comment-form-wrap{
  background: $gray-bg2;
}
.comment-form-outer{
  max-width: 870px;
  margin: 0 auto;
}
.comment-respond{
  padding: 95px 0 100px;
  .comment-reply-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 75px;
    line-height: 30px;
    padding-right: 70px;
    position: relative;
    display: inline-block;



    &:before,
    &:after{
      content: '';
      position: absolute;
      height: 2px;
      background: $primary-color;
    }
    &:before{
      top: 11px;
      right: 35px;
      width: 15px;
    }
    &:after{
      top: 18px;
      right: 0;
      width: 50px;
    }
  }

  #cancel-comment-reply-link{
    color: $text;
    float: right;
    margin-left: 29px;
    margin-top: 10px;
    &:hover{
      color: $primary-color;
    }
  }

  .comment-form{
    padding: 60px;
    background: $white;
    @extend .box-shadow;
    .comment_field_wrap{
      margin-left: -15px;
      margin-right: -15px;
      @include clearfix();
      .comment_field-column{
        float: left;
        width: 50%;
        padding: 0 15px;
      }
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .comment-form-comment{
      position: relative;
      &:after{
        @include FontIcon('\e107', 'ElegantIcons');
        font-size: 18px;
        @include opacity(0.35);
        position: absolute;
        right: 0;
        text-align: center;
        width: 50px;
        top: 9px;
      }
    }
    .comment-form-email{
      &:after{
        @include FontIcon('\e010', 'ElegantIcons');
      }
    }
    .comment-form-comment{
      &:after{
        @include FontIcon('\e104', 'ElegantIcons');
      }
    }
    .comment-form-url{
      &:after{
        @include FontIcon('\e02b', 'ElegantIcons');
      }
    }
    input{
      height: 50px;
    }
    textarea,
    input{
      padding-right: 50px;
    }
    textarea{
      height: 150px;
      width: 100% !important;
    }
  }
}



.sidebar-left,
.sidebar-right{
  .comment-title,
  .comment-list-wrap,
  .comment-form-wrap{
    .container{
      width: auto;
      padding: 0;
    }
  }

  .comment-respond {
    padding: 30px;
  }

  .comment-title{
    padding: 30px;
    .leave-comment{
      display: none;
    }
  }

  .comments-area {
    .comment-list {
      > li {
        > .comment-item {
          padding: 40px 0;
        }
        > .children {
          padding: 0 0 0 100px;
        }
        &:first-child {
          border: none;
          > .comment-item {
            border: none;
          }
        }
        > .comment-respond {
          padding: 0;
        }
      }
      .comment-respond {
        padding: 0;
      }
    }
    .comment-item{
      padding: 30px 0;
    }
    .comment-respond {
      padding: 30px;
    }
  }

}