.updated:not(.published) {
  display: none;
}

.single, .group-blog {
  .byline {
    display: inline;
  }
}

.page-links {
  clear: both;
  margin: 0 0 $vspacing;
  > a,
  > span{
    margin-right: 8px;
  }
  > *:last-child{
    margin-right: 0;
  }
}





.blog-posts{
  margin-bottom: $vspacing;

  &.no-readmore{
    .entry-more{
      display: none;
    }
  }

  .blog-post-sizer{
    min-height: 0;
  }

  .blog-post{

    .entry-thumbnail{
      margin-bottom: 33px;
      display: block;
      overflow: hidden;
      img{
        @include transition('all 1s ease-in-out 0s');
        @include transform(scale(1));
        width: 100%;
      }
      &:hover{
        img{
          @include transform(scale(1.2));
        }
      }
    }
    .entry-post-meta{
      margin-bottom: 20px;
      color: $gray-text;
      > span{
        &:after{
          content: '/';
          padding-left: 8px;
          padding-right: 4px;
        }
        &:last-child{
          &:after{
            content: '';
          }
        }
      }
      a{
        color: $gray-text;
        &:hover{
          color: $primary-color;
        }
      }
    }

    .entry-title{
      margin-bottom: 10px;
      font-size: 16px;
      text-transform: none;
      letter-spacing: 0;
      a{
        color: $black;
        &:hover{
          color: $primary-color;
        }
      }
    }
    .entry-content{
      margin-bottom: 30px;
    }
  }

  &.blog-posts-classic,
  &.blog-posts-grid,
  &.blog-posts-masonry{
    .blog-post{

    }
  }
  &.blog-posts-grid,
  &.blog-posts-masonry,
  &.blog-posts-classic{

  }


  &.blog-posts-list{
    .blog-post{

    }
  }

}





.single-post{
  margin-bottom: 65px;
  .entry-content{
    @include clearfix();
  }
  .entry-thumbnail{
    margin-bottom: 60px;
  }
  .entry-header{
    margin-bottom: 30px;
  }
  .entry-meta{
    color: #c9cacb;
    > span{
      &:after{
        content: "/";
        margin: 0 8px;
      }
      &:last-child:after{
        display: none;
      }
    }
    a{
      color: #c9cacb;
      &:hover{
        color: $primary-color;
      }
    }
  }
  .entry-content{

  }

  .tags-links{
    a{
      font-size: 12px!important;
      text-transform: uppercase;
      color: $text;
      line-height: 26px;
      padding: 0 12px;
      border: 2px solid $border-color;
      @include transition();
      display: inline-block;
      margin: 0 7px 9px 0;
      &:hover,
      &:focus{
        border-color: $text;
      }
    }
  }

  .single-bottom-title {
    letter-spacing: 0.2em;
    margin-bottom: 30px;
    font-size: 18px;
  }

  .share-it{
    margin: 65px 0 95px;
    .social_icons{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        display: inline-block;
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
        a{
          display: inline-block;
          padding: 17px 40px;
          border: 2px solid #e3e3e3;
          font-size: 14px;
          color:#999;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          line-height: normal;
          &:hover{
            color: #000;
            border-color: #000;
          }
          i{
            display: none;
          }
        }
      }
    }
  }

}

.author-info {
  background: $gray-bg;
  margin-bottom: 85px;
  padding: 25px 25px 15px;
  .author-avatar {
    float: left;
    max-width: 70px;
  }
  .author-description {
    padding-left: 93px;
  }
  .author-title {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
    color: #000000;
    text-transform: none;
    letter-spacing: 0.075em;
    a {
      color: #000000;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .author-bio {
    margin-bottom: 0;
  }
  .author-socials {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 40px;
    }
    a {
      color: $gray-text;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.comments-area {
  margin-bottom: 55px;
  .comment-list {
    list-style: none;
    margin: 0 0 85px;
    padding: 0;

    .comment-respond{
      padding-left: 25px;
    }
  }
  .children {
    list-style: outside none none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background: #e1e1e1;
    }
    > li {
      position: relative;
      &:before {
        background: #e1e1e1;
        content: "";
        height: 1px;
        left: -25px;
        position: absolute;
        top: 25px;
        width: 12px;
      }
    }
  }

  .comment-notes,
  .form-allowed-tags {
    display: none;
  }

  .comment-respond {
    margin-bottom: 30px;
    .comment-form{
      textarea,
      input[type=text] {
        border: none;
        border-bottom: 2px solid $border-color;
        padding: 10px 0;
        height: auto;
        &:focus {
          border-color: $gray-text;
          color: $gray-text;
        }
      }
      textarea{
        height: 55px;
        width: 100% !important;
      }
      .form-submit {
        padding-top: 15px;
      }
    }
  }


  .comment-item {
    padding: 25px;
    background: $gray-bg;
    margin-bottom: 30px;
    min-height: 120px;
    .comment-avatar {
      float: left;
      margin-right: 20px;
      max-width: 70px;
    }
    .comment-body {
      padding-left: 90px;
      position: relative;
      .comment-meta {
        margin: 0 0 12px;
        line-height: 15px;
        .comment-author {
          color: #000000;
          font-size: 14px;
          font-weight: 700;
          text-transform: none;
          display: inline-block;
          padding: 0;
          margin: 0 10px 0 0;
          line-height: 15px;
        }
        .comment-metadata {
          color: $gray-text;
          font-size: 12px;
          font-weight: bold;
          display: inline-block;
        }
      }
      .comment-entry{
        blockquote{
          background: #FFF;
        }
        p:last-child{
          margin: 0;
        }
      }
      .comment-actions {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.075em;
        line-height: 15px;
        position: absolute;
        right: 0;
        top: 0;
        a{
          color: #4ad1e5;
          display: inline-block;
          + a{
            margin-left: 10px;
          }
        }
      }
    }
  }

  #comment-nav-above{
    margin: -55px 0 85px
  }
  .comment-navigation{
    a{
      color: $gray-text;
      &:hover{
        color: $primary-color;
      }
    }
  }


}
