.top-navigation{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 10;
  @include clearfix();

  > li{
    display: inline-block;
    border-left: 1px solid $border-color;
    position: relative;
    float: left;
    &:last-child{
      border-right: 1px solid $border-color;
    }

    > a{
      text-transform: uppercase;
      color: $gray-text;
      letter-spacing: 0.12em;
      font-weight: bold;
      font-size: 14px;
      line-height: $topbar-height;
      padding: 0 35px;
      display: inline-block;

    }

    &:hover > a,
    > a:hover{
      color: $primary-color;
    }

    .navigation-submenu{
      background: #FFFFFF;
      position: absolute;
      left: 0;
      top: 57px;
      width: 200px;
      text-align: left;
      @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.12));
      border-top: 1px solid #f6f6f6;
      margin: 0;
      padding: 0;
      list-style: none;
      @include opacity(0);
      @include transform(translate(0, 30px));
      @include transition('opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out');
      visibility: hidden;

      > li{
        border-bottom: 1px solid #f6f6f6;
        &:last-child{
          border: none;
        }
        a{
          display: block;
          padding: 5px 35px 5px 20px;
          color: $gray-text;
          &:hover{
            color: #000000;
          }
        }
      }

    }

    &:hover{
      .navigation-submenu{
        @include opacity(1);
        @include transform(translate(0, 0));
        visibility: visible;
      }
    }
  }
}
.shopping-bag-wishlist{
  > a {
    > span.amount{
      background: $gray-bg;
      color: #000000;
      font-size: 14px;
      margin-left: 13px;
      padding: 3px 12px;
    }
  }
}

.shopping-bag-cart{
  a{
    > span.amount{
      padding: 2px 9px;
      border: 2px solid $primary-color;
      color: #000000;
      font-size: 14px;
      margin-left: 15px;
    }
  }
}

#nav{

  .main-nav-outer{
    position: relative;
    @include clearfix();
  }
  #main-nav-socials,
  #main-nav-wc,
  #main-nav-tool,
  #main-navigation {
    padding: 0;
    list-style: none;
    margin: 0;
    > li{
      display: inline-block;
      position: relative;
      > a{
        line-height: $navbar-height;
      }
    }
  }

  #main-nav-socials{
    float: right;
    > li{
      + li{
        margin-left: 30px;
      }
      > a{
        @include transition('color 0.3s ease 0s, background 0.3s ease 0s');
      }
    }
  }

  #main-nav-tool{
    margin: 0 0 0 40px;
    float: right;
    > li{
      + li{
        margin-left: 20px;
      }
      a{
        color: #000;
        @include transition('color 0.3s ease 0s, background 0.3s ease 0s, opacity 0.3s ease 0s');
        &:hover{
          @include opacity(.7);
        }
      }
    }
  }


  #main-nav-wc,
  #main-nav-socials,
  #main-navigation{
    > li{
      > a{
        text-transform: uppercase;
        padding: 0 10px;
        color: $gray-text;
        letter-spacing: 0.04em;
        font-weight: bold;
        display: block;
        @include transition('color 0.3s ease 0s, background 0.3s ease 0s');
      }

      &.current-menu-item > a,
      > a:hover{
        color: $primary-color;
      }
      &.current-menu-item > a,
      > a:hover{
        color: $primary-color;
      }

      ul.sub-menu-dropdown,
      .kt-megamenu-wrapper,
      .navigation-submenu{
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        @include opacity(0);
        @include transform(translate(0, 30px));
        @include transition('opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out');
        text-align: left;
        width: 308px;
      }
    }
    li{
      &:hover{
        > ul.sub-menu-dropdown,
        .kt-megamenu-wrapper,
        .navigation-submenu{
          @include opacity(1);
          @include transform(translate(0, 0));
          visibility: visible;
        }
      }
      ul.sub-menu-dropdown{
        li {
          > ul.sub-menu-dropdown {
            &.right-overflow{
              right: 100%;
              left: auto;
            }
          }
        }
      }
    }
  }

  #main-nav-wc{
    float: right;
    .navigation-submenu{
      position: absolute;
      top: 100%;
      right: 0;
    }
    > li{
      margin: 0 26px;
      + li{
        &:before{
          content: '';
          height: 12px;
          width: 1px;
          display: block;
          background: $border-color;
          @include translate(y);
          left: -26px;
        }
      }
      &:first-child{
        margin-left: 0;
      }
    }
  }


  #main-navigation{
    float: right;
    > li{
      + li{
        margin-left: 20px;
      }
      &.kt-megamenu-item{
        position: static;
      }
      ul.sub-menu-dropdown,
      .kt-megamenu-wrapper{
        border-top: 1px solid #f6f6f6;
        background: #FFFFFF;
        @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.12));
      }

      ul.sub-menu-dropdown{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          border-bottom: 1px solid $border-color;
          a{
            padding: 24px;
            display: block;
            color: $gray-text;
            font-size: 16px;
            &:hover{
              color: $primary-color;
            }
          }
          ul.sub-menu-dropdown {
            left: 100%;
            top: -1px;
          }
        }
        &.right-overflow {
          right: 0;
          left: auto;
          top: 100%;
        }
      }

      .kt-megamenu-wrapper{
        width: 100%;

        > ul{
          display: table;
          list-style: none;
          margin: 0;
          padding: 0;
          table-layout: fixed;
          width: 100%;
          > li{
            border-right: 1px solid $border-color;
            display: table-cell;
            float: none;
            vertical-align: top;
            &:last-child{
              border: none;
            }
            > a,
            > span{
              color: $primary-color;
              font-size: 18px;
              display: block;
              padding: 40px 28px 24px;
              border-bottom: 1px solid $border-color;
            }
            > ul{
              list-style: none;
              padding: 0;
              margin: 0;
              > li{
                display: block;
                border-bottom: 1px solid $border-color;
                :last-child{
                  border-bottom: none;
                }
                > a,
                > span{
                  padding: 30px 26px 22px;
                  display: block;
                  color: $gray-text;
                  font-size: 16px;
                  &:hover{
                    color: #000000;
                  }
                }
              }
            }

          }
        }

        &.megamenu-columns-4{
          > ul > li{  width: 25%; }
        }
        &.megamenu-columns-3{
          > ul > li{  width: 33.33%; }
        }
        &.megamenu-columns-2{
          > ul > li{  width: 50%; }
        }
        &.megamenu-position-left-menubar{
          right: auto;
          left: 0;
        }
        &.megamenu-position-right-menubar{
          right: 0;
          left: auto;
        }

      }

    }




  }


}



/*

#nav{
  border-top: 2px solid $text;
  .main-nav-inner{
    position: relative;
  }

  #main-navigation{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: $navbar-height;
    text-align: center;
    position: relative;
    li{
      &.active{
        > a{
          color: $primary-color;
        }
      }
    }
    > li{
      display: inline-block;
      position: relative;
      margin: 0 8px;
      &.kt-megamenu-item{
        position: static;
      }
      > a{
        text-transform: uppercase;
        padding: 0 15px;
        color: $text;
        position: relative;
        display: inline-block;
        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          display: block;
          @include opacity(0);
          @include transition();
        }
        &:before{
          content: '';
          width: 0;
          background: $white;
          height: 2px;
          top: -2px;
          margin-left: -10px;
        }

        &:after{
          width: 6px;
          height: 6px;
          background: $primary-color;
          left: 50%;
          margin-left: -3px;
          top: -4px;
          @include transform(rotate(45deg));
        }
      }
      &.current-menu-item > a,
      > a:hover,
      &:hover > a{
        color: $primary-color;
        &:before,
        &:after{
          @include opacity(1);
        }
        &:before{
          width: 20px;
        }
      }

      ul.sub-menu-dropdown,
      .kt-megamenu-wrapper{
        border-top: 2px solid $primary-color;
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        background: #FFFFFF;
        line-height: normal;
        text-align: left;
        padding: 40px 30px 30px;
        @include opacity(0);
        @include transform(translate(0, 40px));
        @include transition('opacity 0.2s ease-in-out, transform 0.3s ease-in-out');
        @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, 0.05));


      }

      ul.sub-menu-dropdown{
        list-style: none;
        padding: 20px 0;
        margin: 0;
        width: 308px;

        li{
          position: relative;
          a{
            padding: 9px 30px;
            display: block;
            color: $text;
            font-size: 14px;
            position: relative;
            &:before{
              height: 0;
              width: 2px;
              content: '';
              left: 0;
              background: $primary-color;
              @include transition();
              @include translate(y);
            }
          }


          &.current-menu-item > a,
          &:hover > a{
            color: $primary-color;
            &:before{
              height: 100%;
            }
          }

          ul.sub-menu-dropdown {
            left: 100%;
            top: -1px;
          }

        }
        &.right-overflow {
          right: 0;
          left: auto;
          top: 100%;
        }


      }
      .kt-megamenu-wrapper{
        width: 100%;
      }

      .kt-megamenu-inner{
        width: 100%;

        .kt-megamenu-images{
          padding-top: 30px;
        }

        ul.kt-megamenu-ul{
          @include css3-prefix-value(display, flex);
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          @include clearfix();
          border-bottom: 2px solid $border-color;

          > li{
            border-left: 2px solid $border-color;
            float: left;
            vertical-align: top;
            padding: 0 30px 20px;

            &:first-child{
              border-left-color: transparent;
              padding-left: 0;
            }

            > a,
            > span{
              color: #000000;
              font-size: 14px;
              display: block;
              padding: 0 0 10px;
              margin-bottom: 40px;
              position: relative;
              text-transform: uppercase;

              &:before{
                content: '';
                width: 25px;
                height: 2px;
                position: absolute;
                display: block;
                background: $primary-color;
                bottom: 0;
                left: 0;
              }

            }
            > ul{
              list-style: none;
              padding: 0;
              margin: 0;
              > li{
                display: block;

                > a{
                  padding: 9px 0;
                  display: block;
                  color: $text;
                  font-size: 14px;
                  position: relative;
                  &:before{
                    height: 0;
                    width: 2px;
                    content: '';
                    left: -32px;
                    background: $primary-color;
                    @include transition();
                    @include translate(y);
                  }
                  &:hover{
                    color: #000000;
                  }
                }

                &.active > a,
                &:hover > a,
                > a:hover{
                  color: $primary-color;
                  &:before{
                    height: 100%;
                  }
                }

              }
            }

          }
        }

        &.megamenu-columns-4{
          ul.kt-megamenu-ul > li{  width: 25%; }
        }
        &.megamenu-columns-3{
          ul.kt-megamenu-ul > li{  width: 33.33%; }
        }
        &.megamenu-columns-2{
          ul.kt-megamenu-ul > li{  width: 50%; }
        }

      }

      &.megamenu-width-50{
        .kt-megamenu-inner{  width: 50%;  }
      }
      &.megamenu-width-75{
        .kt-megamenu-inner{  width: 75%;  }
      }
      &.megamenu-width-80{
        .kt-megamenu-inner{  width: 80%;  }
      }
      &.megamenu-width-90{
        .kt-megamenu-inner{  width: 90%;  }
      }

    }

    li{
      &:hover{
        > ul.sub-menu-dropdown,
        .kt-megamenu-wrapper{
          @include opacity(1);
          @include transform(translate(0, 0));
          visibility: visible;
        }
      }
      ul.sub-menu-dropdown{
        li {
          > ul.sub-menu-dropdown {
            &.right-overflow{
              right: 100%;
              left: auto;
            }
          }
        }
      }
    }

  }
}


*/