/*
 * Owl Carousel
 */


.owl-carousel-kt{
  margin-bottom: 50px;
  position: relative;

  .owl-wrapper{
    cursor: url(../images/drag.png) 16 9, ew-resize !important;
  }

  &.gutters{
    margin-left: -15px;
    margin-right: -15px;
    .kt-owl-carousel{
      .owl-item {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }



  &.hidden-navigation{
    .owl-buttons {
      @include opacity(0);
    }
    &:hover{
      .owl-buttons{
        @include opacity(1);
      }
    }
  }

  .owl-controls{
    margin: 85px 0 0;
  }


  .owl-pagination{
    text-align: center;
    .owl-page{
      background: #d7d7d7;
      cursor: pointer;
      height: 8px;
      display: inline-block;
      width: 8px;
      margin: 0 7px;
      @include border-radius(50%);
      @include transition();
      &:hover,
      &.active{
        background: #000000;
      }
    }
  }

  .owl-buttons {
    /*@include opacity(0);*/
    @include transition(all 1s ease);
    position: relative;
    text-align: center;

    &:before{
      content: '';
      height: 100%;
      width: 2px;
      @include translate();
      background: #e9eaeb;
    }

    > div{
      cursor: pointer;
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 24px;
      color: $text;
      margin: 0 10px;
      @include transition();
      &:hover{
        color: $primary-color;
      }

    }
  }


  &.navigation-center_outside,
  &.navigation-center{
    .owl-controls{
      margin-top: 0;
    }
    .owl-buttons{
      position: static;
      &:before{
        display: none;
      }
      > div{
        @include translate(y);
        font-size: 24px;
        color: #000000;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 0;
        &.owl-prev{
          left: -105px;
        }
        &.owl-next{
          right: -105px;
        }
      }
    }
  }
  &.navigation-center{
    .owl-buttons{
      > div{
        &.owl-prev{
          left: 20px;
        }
        &.owl-next{
          right: 20px;
        }
      }
    }
  }

  &.navigation-top{
    .owl-buttons{
      margin-bottom: 100px;
      &:after,
      &:before{
        width: 75px;
        height: 2px;
        background: $gray-text;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%) rotate(45deg));
      }
      &:after{
        @include transform(translate(-50%, -50%) rotate(-45deg));
      }
      > div{
        margin: 0 50px;
      }
    }
  }

}
