

/* ==============================
   16. Slideshow and owl carousel
   ============================== */



/*
 * 16.2 Owl Carousel
 */
.owl-carousel-kt{
  margin-bottom: 50px;
  position: relative;

  .owl-wrapper{
    cursor: url(../images/drag.png) 16 9, ew-resize !important;
  }

  &.gutters{
    margin-left: -15px;
    margin-right: -15px;
    .kt-owl-carousel{
      .owl-item {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }



  &.hidden-navigation{
    .owl-buttons {
      @include opacity(0);
    }
    &:hover{
      .owl-buttons{
        @include opacity(1);
      }
    }
  }

  .owl-controls{
    margin: 85px 0 0;
  }


  .owl-pagination{
    text-align: center;
    .owl-page{
      background: #d7d7d7;
      cursor: pointer;
      height: 8px;
      display: inline-block;
      width: 8px;
      margin: 0 7px;
      @include border-radius(50%);
      @include transition();
      &:hover,
      &.active{
        background: #000000;
      }
    }
  }

  .owl-buttons {
    /*@include opacity(0);*/
    @include transition(all 1s ease);
    position: relative;
    text-align: center;

    &:before{
      content: '';
      height: 100%;
      width: 2px;
      @include translate();
      background: #e9eaeb;
    }

    > div{
      cursor: pointer;
      display: inline-block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 24px;
      color: $text;
      margin: 0 10px;
      @include transition();
      &:hover{
        color: $primary-color;
      }

    }
  }


  &.navigation-center,
  &.navigation-center-inner{
    .owl-controls{
      margin-top: 0;
    }
    .owl-buttons{
      position: static;
      &:before{
        display: none;
      }
      > div{
        @include translate(y);
        font-size: 24px;
        color: #000000;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        &.owl-prev{
          left: -105px;
        }
        &.owl-next{
          right: -105px;
        }
      }
    }
  }
  &.navigation-center-inner{
    .owl-buttons{
      > div{
        &.owl-prev{
          left: 20px;
        }
        &.owl-next{
          right: 20px;
        }
      }
    }
  }

  &.navigation-top{
    .owl-buttons{
      margin-bottom: 100px;
      &:after,
      &:before{
        width: 75px;
        height: 2px;
        background: $gray-text;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%) rotate(45deg));
      }
      &:after{
        @include transform(translate(-50%, -50%) rotate(-45deg));
      }
      > div{
        margin: 0 50px;
      }
    }
  }

}

.nav-style-1{

}


/*
 * 16.1 Rev slider
 */

/*
.rev_slider{
  .product-attr{
    text-align: center;
    h4{
      font-size:16px;
      text-transform: none;
      margin: 0 0 10px;
    }
  }

  .tp-loader.spinner0{
    background-color: #FFFFFF;
  }

  .metis{
    width: 50px;
    height: 50px;
    @include box-shadow(0,2px, 6px, rgba(#000, 0.05));
    &.tparrows{
      &:before{
        font-size: 15px;
        line-height: 34px;
        color: $gray-text;
      }
      &.tp-leftarrow{
        &:before{
          @include FontIcon('\f104');
        }
      }
      &.tp-rightarrow{
        &:before{
          @include FontIcon('\f105');
        }
      }

    }
  }

  .ares{
    .tp-bullet{
      width: 7px;
      height: 7px;
      background: #d7d7d7;

      &:hover,
      &.selected{
        background: #000000;
      }
    }
  }

  .site-nav{
    width: 46px;
    background: none;
    border:2px solid #fff;
    &:hover:before{
      @include transform(scale(1.2));
    }
    &:before{
      font-family: "icomoon";
      font-size: 18px;
      line-height: 36px;
      @include transition(all 0.4s ease);
    }
    &.tp-rightarrow:before{
      content: "\ebf9";
    }
    &.tp-leftarrow:before{
      content: "\ea26";
    }
  }

  .site-pagination{
    .tp-bullet{
      width: 7px;
      height: 7px;
      background: #999999;
      @include border-radius(50%);
      &:hover,
      &.selected{
        background: #ffffff;
      }
    }
  }
}
.rev_slider{
  .tparrows{
    &.hades{
      width: 100px;
      height: 75px;
      background: none;
      line-height: 75px;
      color: #3b3e43;
      padding: 0;
      @include css3-prefix('box-shadow', 'none');
      &:after,
      &:before{
        background: #e6e6e7;
        top: 50%;
        content: ""!important;
        height: 2px;
        left: 0;
        position: absolute;
        @include rotate(45);
        width: 100px;
      }
      &:before{
        @include rotate(-45);
      }
      &.tp-rightarrow{
        text-align: right;
        .tp-arr-allwrapper:before{
          @include FontIcon("\24", 'ElegantIcons');
          float: left;
        }
      }
      &.tp-leftarrow{
        .tp-arr-allwrapper:before{
          @include FontIcon("\23", 'ElegantIcons');
          float: right;
        }
      }
      .tp-arr-imgholder{
        display: none!important;
      }
      .tp-arr-allwrapper{
        @include opacity(1);
        @include rotate(0);
        width: 100px;
        height: 75px;
        background: none;
        top:0;
        left:0;
        font-size: 24px;
        line-height: 75px;
        color: $text;
      }
    }
  }
}

.tp-caption.Slide2-TitleSmall,
.Slide2-TitleSmall{
  color:$white;
  font-size:24px;
  line-height:25px;
  font-weight:400;
}
.tp-caption.Slide2-TitleBig,
.Slide2-TitleBig{
  color:$white;
  font-size:100px;
  line-height:100px;
  font-weight:700;
}
.tp-caption.Slide1-TitleBig,
.Slide1-TitleBig{
  color:$text;
  font-size:50px;
  line-height:50px;
  font-weight:700;
}
.tp-caption.Slide1-TitleSmall,
.Slide1-TitleSmall{
  color:$text;
  font-size:24px;
  line-height:25px;
}
.tp-caption.Slide3-TitleTop,
.Slide3-TitleTop{
  color:$white;
  font-size:14px;
  line-height:15px;
  font-style:normal;
}
.tp-caption.Slide5-TitleBig,
.Slide5-TitleBig{
  color:$white;
  font-size:120px;
  line-height:122px;
  font-weight:700;
}
.tp-caption.Slide6-TitleSmall,
.Slide6-TitleSmall{
  color:$white;
  font-size:120px;
  line-height:122px;
  font-weight:700;
}
.tp-caption{
  &.Slide-Button{
    padding-bottom: 15px;
    position: relative;
    &:after{
      content: "";
      width: 170px;
      height: 2px;
      background: $text;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
*/