/*
 * 404 page
 */
.error404{
  .header-container,
  #footer{
    display: none;
  }
}
.wrapper-404{
  background: #f6f6f6;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
}
#error404{
  text-align: center;
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  @include translate;
  padding: 0 20px;
  z-index: 2;
  h1{
    font-size: 200px;
    font-style: italic;
    line-height: 200px;
    margin-bottom: 25px;
    letter-spacing: 0;
    font-weight: 400;
  }
  h4{
    font-size: 16px;
    font-family: $font-stack;
    color: #999;
    text-transform: none;
    margin-bottom: 30px;
    font-weight: 400;
  }
  p{
    a{
      color: $extra-color;
      i{
        font-size: 20px;
        vertical-align: middle;
        margin-left: 15px;
      }
    }
  }
}
