.page-header{
  border: none;
  margin: 0;
  padding: 85px 0;
  background: $gray-bg;
  h1.page-header-title{
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.2em;
  }
  .breadcrumb{
    margin: 0;
  }
}
