/* ==============================
   10. Shortcodes
   ============================== */

.wpb_single_image{
  .border-box{
    border: 2px solid #f7f8fa;
    position: relative;
    > span{
      padding: 13px;
      display: inline-block;
      max-width: 100%;
    }

    &:before,
    &:after,
    > span:after,
    > span:before{
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      @include transition();
      @include opacity(1);
    }

    &:before{
      left: -2px;
      bottom: -2px;
      border-left: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
    &:after{
      top: -2px;
      right: -2px;
      border-right: 2px solid $primary-color;
      border-top: 2px solid $primary-color;
    }
    >span:before{
      bottom: -2px;
      right: -2px;
      border-right: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
    >span:after{
      left: -2px;
      top: -2px;
      border-left: 2px solid $primary-color;
      border-top: 2px solid $primary-color;
    }
    &:hover{
      &:before,
      &:after,
      >span:before,
      >span:after{

        width: 20px;
        height: 20px;
        @include opacity(1);
      }
    }
  }

  .zoomin,
  .zoomout,
  .slide,
  .shine,
  .border,
  .border2,
  .border-box-1,
  .border-box-2{
    position: relative;
    overflow: hidden;
    img{
      @include transition('.3s ease-in-out');
    }
  }

  .zoomin{
    img{
      @include transform(scale(1));
    }
    &:hover{
      img{
        @include transform(scale(1.2));
      }
    }
  }

  .zoomout{
    img{
      @include transform(scale(1.2));
    }
    &:hover{
      img{
        @include transform(scale(1));
      }
    }
  }

  .slide{
    img{
      @include transform(scale(1.5));
      margin-left: 30px;
    }
    &:hover{
      img{
        margin-left: 0;
      }
    }
  }
  .shine{
    &:before{
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 30%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      @include transform(skewX(-25deg));
    }
    &:hover{
      &:before{
        @include animation('shine .75s');
      }
    }
  }

  .border-box-1,
  .border-box-2{
    background: $black;
    &:before,
    &:after{
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      content: '';
      @include transition('opacity 0.35s, transform 0.35s')
    }
    &:hover{
      &:before,
      &:after{
        @include opacity(1);
        @include transform(scale(1));
      }
      img{
        @include opacity(0.7);
      }
    }
    a{
      position: relative;
      z-index: 1;
    }
    img{
      @include opacity(1);
    }
  }

  .border-box-1{
    &:before {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      @include transform(scale(0, 1));
    }
    &:after {
      border-right: 1px solid $white;
      border-left: 1px solid $white;
      @include transform(scale(1, 0));
    }
  }

  .border-box-2{
    &:before {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
      top: 30px;
      right: 20px;
      bottom: 30px;
      left: 20px;
      @include transform(scale(1,0));
    }
    &:after {
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      @include transform(scale(0,1));
      top: 20px;
      right: 30px;
      bottom: 20px;
      left: 30px;
    }
  }
}

@include keyframes('shine'){
  100% {
    left: 125%;
  }
}


/*
 * 10.6 Tabs
 */


.nav-style-1 {
  margin-bottom: $vspacing;
  > li {
    display: inline-block;
    > a {
      position: relative;
      color: $text;
      padding: 6px 25px;
      text-transform: uppercase;

      &:before,
      &:after{
        content: '';
        position: absolute;
        display: block;
        width: 0;
        @include transition('all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s');
        visibility: hidden;
      }
      &:before{
        left: 0;
        bottom: 0;
        border-left: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
      }
      &:after{
        top: 0;
        right: 0;
        border-right: 2px solid $primary-color;
        border-top: 2px solid $primary-color;
      }
    }

    + li {
      margin-left: 5px;
    }

    &.active > a,
    > a:hover,
    > a:focus{
      background: none;
      color: $primary-color;
      &:before,
      &:after{
        width: 100%;
        height: 10px;
        visibility: visible;
      }
    }
  }
}

.nav-style-2,
.nav-style-3{
  li{
    display: inline-block;
    + li{
      margin-left: 40px;
    }
    > a{
      color: $text;
      text-transform: uppercase;
      line-height: normal;
      padding: 0;
    }
    &.active a,
    > a:hover,
    > a:focus{
      background: none;
    }
  }
}

.nav-style-2{
  margin-bottom: $vspacing;
  li{
    a{
      padding-bottom: 6px;
      &:before{
        width: 0;
        background: $primary-color;
        content: '';
        height: 2px;
        bottom: 0;
        @include translate(x);
        @include transition();
      }
    }
    &.active a,
    > a:hover,
    > a:focus{
      color: $primary-color;
      &:before{
        width: 100%;
      }
    }
  }
}

.nav-style-3{
  margin-bottom: $vspacing;
  position: relative;
  li{
    + li{
      margin-left: 60px;
    }
    a{
      overflow: hidden;
      span{
        position: relative;
        display: inline-block;
        @include transition(transform 0.3s);
        &:before {
          position: absolute;
          top: 100%;
          content: attr(data-hover);
          @include transition(translate3d(0,0,0));
          color: $primary-color;
        }
      }
    }
    &.active a,
    > a:hover,
    > a:focus{
      span{
        @include transform(translateY(-100%));
      }
    }
  }


}

.nav-style-4{
  margin-bottom: $vspacing;
  li{
    display: inline-block;
    + li{
      margin-left: 10px;
    }
    a{
      color: $gray-text3;
      text-transform: uppercase;
      line-height: normal;
      padding: 5px 20px;
      position: relative;

      &:before,
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $border-color;
        content: '';
        @include transition('transform 0.3s, opacity 0.3s')
      }
      &:after{
        @include opacity(0);
        @include transform('translateY(-7px) translateX(6px)');
        border-color: $text;
      }

    }

    &.active a,
    > a:hover,
    > a:focus{
      color: $text;
      background: none;
      &:after{
        @include opacity(1);
        @include transform('translateY(0) translateX(0)');
      }
    }
  }
}


/*
 * 10.11 banner
 */
.banner{
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: $vspacing;

  .banner-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
  }

  .banner-content{
    width: 100%;
    z-index: 10;
    padding: 30px;
    @include transition();
    letter-spacing: 0;
    text-transform: uppercase;
    color: $white;
    position: absolute;

    > *:last-child{
      margin-bottom: 0;
    }
    h3{
      position: relative;
      white-space: nowrap;
      display: inline-block;
      color: $white;
    }
  }

  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
  &.position-bottom{
    .banner-content{
    }
  }

  &.position-middle{
    .banner-content {
      @include translate(c);
    }
  }
  &.position-top{
    .banner-content{
      left: 0;
      top: 0;
    }
  }
  &.position-bottom{
    .banner-content{
      bottom: 0;
      left: 0;
    }
  }



  &-dark,
  &-dark2,
  &-dark3{
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      @include transition();
    }
  }
  &-dark{
    &:after{
      background: rgba($text,.15);
    }
    &:hover{
      &:after{
        background: rgba($text,.5);
      }
    }
  }
  &-dark2{
    &:after{
      background: rgba($text,.35);
    }
    &:hover{
      &:after{
        background: rgba($text,.7);
      }
    }
  }
  &-dark3{
    &:after{
      background: rgba($text,.5);
    }
    &:hover{
      &:after{
        background: rgba($text,.9);
      }
    }
  }

  &.style1{
    .banner-content{
      h3{
        font-size: 24px;
        line-height: 44px;
        &:after,
        &:before{
          width: 0;
          content: '';
          height: 2px;
          position: absolute;
          display: block;
          background: $white;
        }
        &:before{
          top: 0;
          left: 0;
        }
        &:after{
          right: 0;
          bottom: 0;
        }
      }
      .banner-prefix{
        letter-spacing: .3em;
      }
    }
    &:hover{
      .banner-content{
        letter-spacing: .2em;
        h3{
          &:before,
          &:after{
            width: 100%;
          }
        }
      }
    }
  }

  &.style2{
    h3{
      min-width: 270px;
      padding: 0 18px;
      line-height: 75px;
      font-size: 36px;
      &:before,
      &:after{
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 15px;
        @include transition('all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s');
      }
      &:before{
        left: 0;
        top: 0;
        border-left: 2px solid $primary-color;
        border-top: 2px solid $primary-color;
      }
      &:after{
        bottom: 0;
        right: 0;
        border-right: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }
    &:hover{
      .banner-content{
        letter-spacing: .2em;
      }
      h3{
        &:before,
        &:after{
          height: 0;
        }
      }
    }
  }



}

/*
 * 10.13 Category Banner
 */
.advanced-banner{
  position: relative;
  margin-bottom: $vspacing;
  &-link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
  }
  &-title{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: 2px solid $white;
    padding: 2px;
    text-align: center;
    @include transition();
    margin: 0;
    z-index: 1;
    span{
      background: $white;
      width: 100%;
      font-size: 24px;
      text-transform: uppercase;
      color: $text;
      display: block;
      padding: 10px;
    }
  }

  &:hover{
    .advanced-banner-title{
      bottom: 50%;
      @include transform(translatey(50%));
    }
  }

  &.style1{
    .advanced-banner-content{
      font-size: 18px;
      position: absolute;
      left: 30px;
      bottom: 40px;
      right: 30px;
      text-align: center;
    }
  }





  &.style2,
  &.style3{
    @include box-shadow(1px, 0, 3px, rgba(0,0,0,0.05));
    margin-bottom: 30px;
    background: $white;
    .category-banner-image{
      position: relative;
    }
    .advanced-banner-content{
      position: static;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      padding: 33px 15px;
      line-height: normal;
    }

    .advanced-banner-title{
      @include opacity(0);
      span{
        font-size: 18px;
      }
    }
    .advanced-banner-inner{
      position: relative;
    }

    &:hover{
      .advanced-banner-title{
        @include opacity(1);
      }
    }
  }
}




/* ==============================
   10. Shortcodes
   ============================== */
/*
 * 10.1 Heading Section
 */
.kt-heading{
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  &-backend{
    color: #f0f1f3;
    @include translate();
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
  }

  &-title,
  &-subtitle{
    position: relative;
  }

  &-title{
    font-size: 50px;
    line-height: 1;
    margin: 0;
    font-weight: bold;
  }
  &-subtitle{
    font-size: 24px;
    line-height: 1;
    margin-top: 15px;
  }

  &.text-left,
  &.text-right{
    .kt-heading-backend{
      @include transform(translateY(-50%));
      left: 0;
    }
  }

  &.text-right{
    text-align: right;
    .kt-heading-backend{
      left: auto;
      right: 0;
    }
  }
  &.text-left{
    text-align: left;
  }

  &.style2{
    .kt-heading-backend{
      font-size: 50px;
    }
  }

  &.style3{
    .kt-heading-backend{
      font-size: 50px;
    }
    .kt-heading-title{
      font-size: 50px;
      padding-bottom: 40px;
    }
    .kt-heading-subtitle{
      margin: -30px 0 0;
    }
  }
}

.vc_custom_heading{
  &.style-1{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 22px;
    position: relative;
    &:before,
    &:after{
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 40px;
      height: 2px;
      background: $border-color;
      content: "";
      margin-left: 10px;
    }
    &:before{
      left: auto;
      right: 50%;
      margin-right: 10px;
    }
    > span{
      display: block;
      &:after{
        width: 6px;
        height: 6px;
        background: $primary-color;
        content: "";
        @include transform(translatex(-50%) rotate(45deg) );
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-bottom: -2px;
      }
    }


    &.text-align-left{
      &:before,
      &:after{
        left: 10px;
        right: auto;
        width: 80px;
      }
      span:after{
        left: 0;
        @include transform(translatex(0) rotate(45deg) );
      }
    }

    &.text-align-right{
      &:before,
      &:after{
        right: 10px;
        left: auto;
        width: 80px;
      }
      span:after{
        right: 0;
        left: auto;
        @include transform(translatex(0) rotate(45deg) );
      }
    }

  }
  &.style-2{
    > span{
      display: inline-block;
      position: relative;
      background: $text;
      color: $white;
      padding: 13px 18px;
      &:before{
        content: '';
        border: 2px solid $text;
        position: absolute;
        left: -4px;
        top: -4px;
        right: -4px;
        bottom: -4px;
        display: block;
      }
      > span{
        position: relative;
        z-index: 1;
      }
    }
  }
}


.banner{
  margin-bottom: $vspacing;
  position: relative;
}

/*
 * 10.2 Hightlight
 */
.hightlight {
  color: #ffffff;
  padding: 0 4px;
  border-radius: 3px;
  &.hightlight1{
    background: #c7db9c;
  }
  &.hightlight2{
    background: #ed8b5c;
  }
  &.hightlight3{
    background: #f4dc86;
  }
  &.hightlight4{
    background: #bce5d3;
  }
}


/*
 * 10.3 Dropcap
 */
.kt_dropcap{
  float: left;
  display: block;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  &.dropcap-sm{
    font-size: 72px;
    line-height: 72px;
    height: 72px;
    &.dropcap-bg{
      font-size: 30px;
      line-height: 40px;
      height: 40px;
      &.dropcap-circle{
        width: 40px;
      }
    }
  }
  &.dropcap-md{
    font-size: 100px;
    line-height: 100px;
    height: 100px;
    &.dropcap-bg{
      font-size: 48px;
      line-height: 65px;
      height: 65px;
      &.dropcap-circle{
        width: 65px;
      }
    }
  }
  &.dropcap-gray{
    color: #bce5d3;
  }
  &.dropcap-black{
    color: #000000;
  }
  &.dropcap-orange{
    color: $orange;
  }
  &.dropcap-bg{
    padding: 0 10px;
    margin-top: 10px;
    &.dropcap-circle{
      border-radius: 100%;
    }
    &.dropcap-gray{
      background: #bce5d3;
      color: #fff;
    }
    &.dropcap-black{
      background: #000000;
      color: #fff;
    }
    &.dropcap-orange{
      background: $orange;
      color: #fff;
    }
  }
}


/*
 * 10.4 Lists
 */
ul.style-list{
  padding: 0;
  margin: 0 0 $vspacing;
  list-style: none;
  li{
    padding-left: 52px;
    margin-bottom: 20px;
    position: relative;
    line-height: 30px;
    &:after{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
    }
  }
  &.style1{
    counter-reset: my-badass-counter;
    li:after{
      content: counter(my-badass-counter, decimal);
      counter-increment: my-badass-counter;
      border-radius: 100%;
      border: 1px solid #d8d8d8;
      font-size: 14px;
      color: #000;
      line-height: 28px;
    }
  }
  &.style2{
    li:after{
      border-radius: 100%;
      background: $orange;
      color: #fff;
      font-size: 10px;
      line-height: 28px;
      @include FontIcon('\f00c');
    }
  }
  &.style3{
    li:after{
      border-radius: 100%;
      border: 1px solid #d8d8d8;
      font-size: 14px;
      color: #000;
      line-height: 28px;
      @include FontIcon('\f105');
    }
  }
}


/*
 * 10.5 Alert
 */

.alert{
  padding: 40px 40px 40px 100px;
  border: 1px solid #dce2ed;
  border-radius: 0;
  position: relative;
  line-height: 24px;
  margin-bottom: $vspacing;
  .alert_title{
    font-size: 18px;
    letter-spacing: 0.05em;
    margin: 0 0 5px;
    text-transform: none;
  }
  button.close{
    position: absolute;
    top:18px;
    right:18px;
    margin: 0;
    text-shadow: none;
    @include opacity(1);
    font-weight: normal;
    font-size: 18px;
  }
  &:after{
    @include FontIcon("\f0f3");
    text-transform: none;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    font-size: 36px;
    @include transform(translateY(-50%));
    width: 100px;
    color:#9fadbd;
  }
  &.alert-info:after{
    content: "\f05a";
    color: #f95b46;
  }
  &.alert-success:after{
    content: "\f058";
    color: #84be20;
  }
  &.alert-warning:after{
    content:"\f071";
    color: #e7ad24;
  }
  &.alert-danger:after{
    content: "\f05a";
    color: #f56048;
  }
  &.alert-normal{
    color: #7a8692;
    .alert_title,button.close{
      color: #7a8692;
    }
  }
  &.alert-info{
    color: #c86353;
    .alert_title,button.close{
      color: #c86353;
    }
  }
  &.alert-success{
    color: #84be20;
    .alert_title,button.close{
      color: #84be20;
    }
  }
  &.alert-warning{
    color: #d99e12;
    .alert_title,button.close{
      color: #d99e12;
    }
  }
  &.alert-danger{
    color: #eff2f5;
    .alert_title,button.close{
      color: #eff2f5;
    }
  }
  &.style1{
    &.alert-normal{
      background: #ececec;
    }
    &.alert-info{
      background: #f9b5aa;
    }
    &.alert-success{
      background: #e7f6cd;
    }
    &.alert-warning{
      background: #faf4d4;
    }
    &.alert-danger{
      background: #252932;
    }
  }
  &.style2{
    background: none!important;
    &.alert-danger{
      color: #818d9a;
      .alert_title{
        color: #6c7884;
      }
      button.close{
        color: #f56048;
      }
    }
  }
}






/*
 * 10.7 Accordion
 */
.kt-accordion{
  margin: 0 0 $vspacing;
  .kt-accortion-title{
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-stack;
    letter-spacing: 0;
    margin: 0 0 20px;
    cursor: pointer;
    position: relative;
    .ui-accordion-header-icon{
      position: absolute;
      width: 10px;
      height: 10px;
      right: 30px;
      top:50%;
      @include translate('y');
      display: block;
      &:after{
        @include FontIcon('\f067');
        font-size: 10px;
        @include translate();
        font-weight: normal;
      }
    }
    &.ui-accordion-header-active{
      .ui-accordion-header-icon:after{
        content: "\f068";
      }
    }
  }
  &.style1{
    .kt-accortion-title{
      background: $gray-bg;
      &.ui-accordion-header-active{
        background: #000;
        color: #fff;
      }
    }
  }
  &.style2{
    .kt-accortion-title{
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      &.ui-accordion-header-active{
        color: #333946;
      }
    }
  }
  &.style3{
    .kt-accortion-title{
      background: $gray-bg;
      &.ui-accordion-header-active{
        @include background-horizontal(#a7c8eb,#bce5d3);
        color: #fff;
      }
    }
  }
  &.style4{
    .kt-accortion-title{
      background: #fff;
      @include box-shadow(0, 2px, 4px, rgba(0,0,0,.05));
    }
  }
  .kt-accordion-content{
    padding: 10px 30px 30px;
  }
}



/*
 * 10.8 Tooltip
 */
.tooltip{
  opacity: 1;
  font-size: 10px;
  font-family: $font-stack;
  text-transform: uppercase;
  &-inner{
    @include border-radius(0);
    padding: 6px 11px;
    background: $white;
    color: $text;
    @include box-shadow(0, 2px, 4px, rgba(0,0,0,.15));
  }

  &.top {
    margin-top: -5px;
    .tooltip-arrow{
      border-top-color: $white;
      border-width: 6px 6px 0;
      bottom: -1px;
      left: 50%;
      margin-left: -6px;
    }
  }
  &.bottom {
    margin-bottom: -5px;
    .tooltip-arrow{
      border-bottom-color: $white;
      border-width: 0 6px 6px;
      bottom: -1px;
      left: 50%;
      margin-left: -6px;
    }
  }
}

/*
 * 10.9 Socials
 */

.social-nav{
  margin: 0 0 $vspacing;
  padding: 0;
  list-style: none;

  a{
    @include transition();
  }

  &.style-1{
    li{
      font-size: 14px;
      line-height: 21px;
      + li{
        margin-top: 30px;
      }
      a{
        display: block;
        color: $text;
        &:hover{
          color: $primary-color;
        }
        i{
          margin-right: 12px;
          min-width: 50px;
        }
      }
    }
  }

  &.style2{
    li{
      display: inline-block;
      font-size: 14px;
      margin-bottom: 14px;
      + li{
        margin-left: 12px;
      }
      a{
        display: inline-block;
        border: 2px solid $border-color;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 20px;
        color: $text;
        padding-top: 18px;
        position: relative;
        text-transform: uppercase;

        &:before,
        &:after{
          content: '';
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          @include transition();
          @include opacity(0);
        }
        &:before{
          left: -2px;
          bottom: -2px;
          border-left: 2px solid $primary-color;
          border-bottom: 2px solid $primary-color;
        }
        &:after{
          top: -2px;
          right: -2px;
          border-right: 2px solid $primary-color;
          border-top: 2px solid $primary-color;
        }
        i{
          font-size: 18px;
        }
        span{
          display: block;
          font-size: 10px;
          letter-spacing: .1em;
        }
        &:hover{
          border-color: $text;
          &:before,
          &:after{
            width: 20px;
            height: 20px;
            @include opacity(1);
          }
        }
      }
    }
  }


}
/*
 * 10.10 Newsletter
 */

.newsletters-form{
  margin: 0 auto;
  position: relative;
  input[type=email] {
    background: transparent;
    width: 100%;
    height: 44px;
    padding: 5px 40px 10px 10px;
    font-size: 14px;
    border-color: #dddddd;
  }
  button {
    background: none;
    border: none;
    height: 44px;
    padding: 0;
    right: 0;
    width: 44px;
    font-size: 18px;
    @include translate('y');
    i{
      line-height: 44px;
    }
  }
  input[type=email],
  button{
    color: $gray-darker;
  }

  &.style2{
    input[type=email] {
      border: none;
      border-bottom: 2px solid #000000;
      height: auto;
      padding-left: 0;
      padding-top: 0;

    }
    button{
      text-align: right;
    }
    input[type=email],
    button{
      color: #000000;
    }


  }
}

.newsletters-outer{
  margin-bottom: 30px;
  .newsletters-before{
    margin-bottom: 35px;
  }
  .newsletters-title{
    color: #c7db9c;
    letter-spacing: 0.2em;
  }
  .newsletters-form{
    input[type="email"],
    button{
      color: #000000;
    }
  }
}

.newsletters-wrapper{
  border: 2px solid #dddddd;
  padding: 55px 33px;
  margin-bottom: 30px;
  text-align: center;
  h3{
    font-size: 18px;
    margin: 0 0 40px;
  }
  .newsletters-before{
    margin-bottom: 35px;
    color: $gray-darker;
  }
}



/*
 * 10.16 Client
 */
.client-item{
  @include opacity();
  @include transition();
  img{
    margin: 0 auto;
  }
  &:hover{
    @include opacity(1);
  }
}


/*
 * 10.20 Testimonials
 */
.testi-item{
  &-inner{
    max-width: 80%;
    margin: 0 auto;
  }
  &-infos{
    text-transform: uppercase;
  }
  &-author{
    font-size: 30px;
  }

  &.style1{
    text-align: center;
    .testi-item-content{
      position: relative;
      font-size: 14px;
      line-height: 25px;
      &:before{
        @include FontIcon('\f10d');
        @include translate();
        font-size: 50px;
        color: #f1f1f2;
        z-index: -1;
      }
    }
    .testi-item-infos{
      position: relative;
      padding-bottom: 13px;
      margin-bottom: 60px;
      &:after{
        @include translate(x);
        bottom: 0;
        width: 50px;
        content: '';
        height: 2px;
        background: $primary-color;

      }
    }
    .testi-item-author{
      line-height: 40px;
    }
    .testi-item-info{
      color: #8f9498;
    }
  }
  &.style2{



  }
}


.testi-navigation{
  margin: 0 0 $vspacing;
  padding: 0;
  list-style: none;
  @include clearfix();
  li{
    width: 50%;
    float: left;
    padding: 17px;
    display: inline-block;
    @include grayscale();

    &:hover,
    &.active{
      @extend .box-shadow;
      filter: none;
      -webkit-filter: grayscale(0%);
    }
  }
}


/*
 * 10.21 Product countdown
 */
.product-countdown{
  background: #fff;
  padding: 30px;
  box-shadow:0 0 6px 0 rgba($black,0.05);
  margin-bottom: $vspacing;

  .countdown-wrap{
    width:60px;
    height:60px;
    border:2px solid #f6f6f6;
    text-align: center;
    float:left;
    margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }

    .title{
      font-size:14px;
      color:#999;
      line-height: normal;
    }

    .value-time{
      font-size:18px;
      font-weight: 700;
      color:#000;
      margin: 10px 0 2px;
      line-height: normal;
    }
  }
}
/*
 * 10.22 Team
 */

.team{
  margin-bottom: $vspacing;
  text-align: center;
  .avatar{
    border: 15px solid $white;
    @include box-shadow(1px, 0, 3px, rgba(0,0,0,0.05));
    margin-bottom: 28px;
    overflow: hidden;
    position: relative;
    img{
      @include transition('all 0.5s ease 0s');
    }
    .socials-team{
      a{
        width: 40px;
        height: 40px;
        background: $primary-color;
        text-align: center;
        line-height: 40px;
        color: $white;
        display: block;
        position: absolute;
        right: -40px;
        bottom: 0;
        @include transition();
        &:nth-child(2){
          bottom: 40px;
        }
        &:nth-child(3){
          bottom: 80px;
        }
        &:nth-child(4){
          bottom: 120px;
        }
        &:hover{
          background: $text;
        }
      }
    }
  }
  .team-name{
    font-size: 18px;
    color: $text;
    margin-bottom: 3px;
  }
  .team-agency{
    text-transform: uppercase;
    font-size: 14px;
    color: $gray-agency;
    line-height: normal;
  }
  &:hover{
    img{
      @include transform(scale(1.2));
    }
    .socials-team{
      a{
        &:nth-child(1){
          @include css3-prefix('transition-delay','0.1s');
          right: 0;
        }
        &:nth-child(2){
          right: 0;
          @include css3-prefix('transition-delay','0.2s');
        }
        &:nth-child(3){
          right: 0;
          @include css3-prefix('transition-delay','0.3s');
        }
        &:nth-child(4){
          right: 0;
          @include css3-prefix('transition-delay','0.4s');
        }
      }
    }
  }
}


.contact-info{
  margin-bottom: $vspacing;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();
    li{
      float: left;
      width: 50%;
      position: relative;
      margin-bottom: 50px;
      padding-left: 20px;
      line-height: 24px;
      font-size: 14px;
      &:nth-child(2n+1){
        clear: both;
      }
      i{
        position: absolute;
        left: 0;
        font-size: 36px;
        color: #f0f0f0;
        top: -5px;
      }
      span,
      a{
        position: relative;
      }
      a{
        color: $text;
        &:hover{
          color: $primary-color;
        }
      }
    }
  }
}

/*
 * 10.23 Iconbox
 */

.kt-icon-box{
  position: relative;
  margin-bottom: $vspacing;
  &:not([class*=" style-"]){
    border: 1px solid $gray-bg2;
    margin-bottom: 30px;
    text-align: center;
    padding: 75px;
    .icon-box-icon{
      font-size: 50px;
      color: $primary-color;
      margin-bottom: 37px;
    }
    .icon-box-title{
      font-size: 18px;
      color: $text;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: bold;
    }
    .icon-box-content{
      line-height: 24px;
      color: $text;
    }
  }

  &.style2{
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;

    &:before,
    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 0;
      @include transition('all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s');
      @include opacity(0);
    }
    &:before{
      left: 0;
      top: 0;
      border-left: 2px solid $primary-color;
      border-top: 2px solid $primary-color;
    }
    &:after{
      bottom: 0;
      right: 0;
      border-right: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }

    .icon-box-icon{
      @include translate();
      font-size: 70px;
      color: #f0f0f0;
    }
    .icon-box-title,
    .icon-box-content{
      position: relative;
      z-index: 1;
    }

    .icon-box-title{
      font-size: 18px;
    }
    .icon-box-content{
      font-size: 14px;
      letter-spacing: .2em;
    }

    &:hover{
      &:before,
      &:after{
        height: 15px;
        @include opacity(1);
      }
    }
  }

}


.payment-list{
  img{
    + img {
      margin-left: 20px;
    }
  }
}

/*
 * 10.24 Coming Soon
 */

/**
 * 15.8. Coming soon
 **/
.wrapper-comingsoon {
  margin-bottom: 20px;
  text-align: center;
  &.style1 {
    .coming-soon {
      text-align: center;
      border: 2px solid $black;
      display: inline-block;
      .wrap{
        display: inline-block;
        padding: 0 15px;
        position: relative;
        font-size: 50px;
        line-height: 78px;
        font-family:$heading-font;
        color: $text;

        &:after{
          content: ":";
          right: 0;
          @include translate(y);
          font-size: 18px;
          line-height: 18px;
        }
        &:last-child{
          &:after{
            display: none;
          }
        }

        .title{
          display: none;
        }
      }
    }
  }

  &.style2{
    .coming-soon{
      text-align: center;
      border:3px solid $black;
      padding:35px 0;
      display: inline-block;
      .wrap{
        display: inline-block;
        padding: 10px;
        min-width: 185px;
        border-right:1px solid $border-color;
        &:last-child{
          border: none;
        }
        .value-time{
          font-size: 48px;
          line-height: 48px;
          margin-bottom: 10px;
          font-family:$heading-font;
          color: $text;
        }
        .title{
          font-size: 14px;
          margin: 0;
          padding: 0;
          font-weight: 600;
          color: $text;
          text-transform: uppercase;
        }
      }
    }
  }

  &.style3{
    .coming-soon{
      text-align: center;
      display: inline-block;
      .wrap{
        width: 150px;
        padding: 0 10px;
        display: inline-block;
        position: relative;

        &:before,
        &:after{
          width: 1px;
          height: 28px;
          content: "";
          background: rgba($black, .1);
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -14px;
        }

        &:before{
          @include rotate(45);
        }

        &:after{
          @include rotate(-45);
        }

        &:last-child:after,
        &:last-child:before{
          display: none;
        }

        .title{
          font-weight: 600;
          text-transform: uppercase;
        }
        .value-time{
          font-size: 36px;
          line-height: 36px;
          color: $primary-color;
          font-family: $heading-font;
          margin-bottom: 10px;
        }
      }
    }
  }
}
/*
 * 10.25 Blog Carousel
 */

.blog-carousel{
  margin-bottom: $vspacing;
  .blog-carousel-title{
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    @include transform-origin(left bottom 0);
    @include transform(rotate(-90deg));
    bottom: 0;
    margin: 0;
    z-index: 10;
    left: 89px;
  }
  &.owl-carousel-kt{
    .owl-controls{
      margin:0;
      .owl-buttons{
        position: absolute;
        right: 60px;
        bottom: 0;
      }
    }
  }
}

.blog-carousel-item{
  padding: 0 60px 0 120px;
  .blog-post-thumbnail{
    display: block;
    margin-right: 25px;
  }
  .blog-post-content{
    margin-left: 25px;
    p{
      margin-bottom: 40px;
    }
  }
  .blog-post-meta{
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 105px;
    span{
      font-size: 14px;
      color: #c9cacb;
      text-transform: uppercase;
      a{
        color: #c9cacb;
      }
      &:after{
        content: '/';
        padding-left: 8px;
        padding-right: 4px;
      }
      &:last-child{
        &:after{
          content: '';
        }
      }
    }
  }
  .blog-post-title{
    font-size: 24px;
    text-transform: none;
    padding-bottom: 25px;
    position: relative;
    line-height: 32px;
    margin-bottom: 42px;
    a{
      color: $text;
    }
    &:after,
    &:before{
      position: absolute;
      height: 2px;
      background: $primary-color;
      content: "";
      width: 50px;
      bottom: 0;
      left: 0;
    }
    &:after{
      width: 15px;
      bottom: 7px;
    }
  }
}

/*
 * 10.26 Newletter
 */

.newletter-wrapper{
  padding: 0 80px;
  max-width: 960px;
  margin: 0 auto;
  .newletter-title{
    font-size: 36px;
    font-weight: bold;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 45px;
    &:after,
    &:before{
      width: 75px;
      height: 2px;
      background: $gray-text;
      content: "";
      @include transform(translatex(-50%) rotate(45deg) );
      position: absolute;
      bottom: 0;
      left: 50%;
    }
    &:after{
      @include transform(translatex(-50%) rotate(-45deg) );
    }
  }
  .kt_mailchimp-before{
    margin-bottom: 52px;
  }
  .mailchimp-form{
    &.mailchimp-layout-1{
      .mailchimp-input-email{
        margin-bottom: 30px;
      }
    }
    &.mailchimp-layout-2{
      position: relative;
      .mailchimp-submit{
        position: absolute;
        height: 100%;
        width: 50px;
        font-size: 0;
        right: 0;
        top: 0;
        padding: 0;
        border: none;
        &:after{
          @include FontIcon("\e010", 'ElegantIcons');
          font-size: 18px;
          border: none;
          line-height: 50px;
          color: $gray-text;
        }
        &:before{
          border: none;
        }
      }
    }
  }
}

/*
 * 10.27 Featured box
 */

.featured-box{
  .featured-content{
    padding: 10px 10px 10px 40px;
    h4{
      font-weight: 300;
      text-transform: none;
      margin: 0;
      color: $text;
      font-size: 28px;
      line-height: 34px;
    }
    h3{
      font-size: 74px;
      font-weight: 700;
      line-height: 74px;
      margin-bottom: 60px;
      color: $text;
    }
    .featured-button{
      a{
        color: $text;
        font-size: 18px;
        position: relative;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 5px;
        line-height: normal;
        z-index: 10;
        &:after{
          width: 240px;
          height: 2px;
          content: "";
          background: $text;
          position: absolute;
          right: 0;
          bottom: 0;
          @include transition();
        }
        &:hover,
        &:focus{
          color: $primary-color;
          &:after{
            background: $primary-color;
            width: 100%;
          }
        }
      }
    }
  }
  &.align-right{
    .featured-content{
      padding: 10px 40px 10px 10px;
      text-align: right;
      .featured-button{
        a{
          &:after{
            left: 0;
            right: auto;
          }
        }
      }
    }
  }
}
