/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

5. Styles for devices(>=1280px)
6. Styles for devices(>=992px and <=1279px)
7. Styles for devices(<=1279px)
8. Styles for devices(<=1199px)
9. Styles for devices(<=991px )
10. Styles for devices(>=768px and <= 991px)
11. Styles for devices(<=767px )
12. Styles for devices(>=481px and <= 767px)
13. Styles for devices(<=480px )
14. Styles for devices(<=320px )
*/

@import 'mixin';

/* 5. Styles for devices(>=1200px) */
@media (min-width: 1200px) {
  .side-bar{
    .widget-container{
      margin-right: 25px;
    }
    &.side-bar-right{
      .widget-container{
        margin-left: 25px;
        margin-right: 0;
      }
    }
  }

  .product-main{
    .product-detail-thumbarea{
      padding-right: 45px;
    }
  }
  .product-content{
    .cd-item-wrapper{
      li{
        cursor: pointer;
        &.focus-on-left{
          @include transform(translateX(3%) scale(1));
          &.move-right {
            @include transform(translateX(75%) scale(0.5));
          }
        }
        &.focus-on-right{
          @include transform(translateX(-3%) scale(1));
          &.move-left {
            @include transform(translateX(-75%) scale(0.5));
          }
        }
        &.hover {
          &.move-left {
            @include transform(translateX(-70%) scale(0.65));
          }
          &.move-right {
            @include transform(translateX(70%) scale(0.65));
          }
        }
      }
    }
  }

}


/* 8. Styles for devices(<=1199px) */
@media (max-width: 1199px) {

  .products {
    &.products-multi-masonry {
      .product {
        .product-details{
          display: none;
        }
      }
    }
  }


}

/* 9. Styles for devices(<=991px ) */
@media (max-width: 991px) {
  .side-bar {
    margin-top: 50px;
  }
  .navbar-container{
    display: none;
  }


}

/* 10. Styles for devices(>=768px and <= 991px) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* 11. Styles for devices(<=767px ) */
@media (max-width: 767px) {
  .about-left{
    margin-left: 0;
  }
  .products {
    &.products-multi-masonry {
      .product {
        width: 50%;
        .product-thumbnail{
          height: auto!important;
        }
      }
    }
  }

}

/* 12. Styles for devices(>=481px and <= 767px) */
@media (min-width: 481px) and (max-width: 767px) {

}

/* 13. Styles for devices(<=480px ) */
@media (max-width: 480px) {
  .products {
    &.products-multi-masonry {
      .product {
        width: 100%;
      }
    }
  }

}

/* 14. Styles for devices(<=320px ) */
@media (max-width: 320px) {

}