/**
 * Global styles
 */
::-moz-selection {
  color: #fff;
  background: $primary-color;
}

::selection {
  color: #fff;
  background: $primary-color;
}

body{
  overflow-x: hidden;
}

iframe {
  border: none;
}

a{
  @include transition(all 0.3s ease 0s);

  &:focus,
  &:active{
    @include css3-prefix('outline', 'none');
  }
}

dl {
  margin: 0 20px;
  dd {
    margin: 0 0 20px;
  }
}


img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: $vspacing;
}

.row {
  &.row-full-height {
    min-height: 100vh;
  }

  &.no-gutters{
    margin-right: 0;
    margin-left: 0;
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  // enable flex
  &.row-flex {
    @include css3-prefix-value('display', 'flex');
    @include css3-prefix('flex-wrap', 'wrap');
    @include css3-prefix('align-items', 'stretch');

    &:before,
    &:after {
      display: none;
    }
    & > [class^="col-"],
    & > [class*=" col-"] {
      @include css3-prefix-value(display, flex);

      > .col-inner{
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        @include css3-prefix-value(display, flex);
        @include css3-prefix-value(flex-direction, column);
        @include css3-prefix-value(flex-grow, 1);
      }
    }
    &.row-content-middle{
      & > [class^="col-"],
      & > [class*=" col-"] {
        > .col-inner{
          @include css3-prefix(justify-content, center);
        }
      }
    }

    &.row-content-bottom{
      & > [class^="col-"],
      & > [class*=" col-"] {
        > .col-inner{
          @include css3-prefix(justify-content, flex-end);
        }
      }
    }
  }
}

/*
 * 1.2. Helper CSS
 */
.display-table{
  display: table;
  width: 100%;
  height: 100%;
  .display-cell{
    display: table-cell;
    vertical-align: middle;
  }
}

.round {  @include border-radius(2px);  }
.circle {  @include border-radius(100%);  }
.square {  @include border-radius(0);  }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.preview-image{
  position: absolute;
  top: 0;
  @include translate(x);
  @include opacity();
  max-width: none!important;
  pointer-events:none;
  z-index: 999;
}

.text-normal{
  text-transform: none;
}

.letter-spacing{  letter-spacing: 0.3em; }

.white{ color: #fff !important; }
.black{ color: #111 !important; }
.gray{ color: $gray-text!important; }


.bg-gradient-gray{
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    background: $gray-bg;
    top: 0;
    left: 0;
    display: block!important;
  }
}

/**
 * Alignment
 */
.alignleft {
  display: inline;
  float: left;
  margin-right: $vspacing;
}
.alignright {
  display: inline;
  float: right;
  margin-left: $vspacing;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/**
 * Accessibility
 */

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  display: block;
  font-weight: bold;
  height: auto;
  left: 0;
  line-height: normal;
  padding: 1em 1.618em;
  text-decoration: none;
  top: 0;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
  outline: none;
}

/**
 * Tables
 */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $vspacing;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        vertical-align: top;
        border-top: 1px solid $border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $border-color;
  }

}