/**
 * Global styles
 */
::-moz-selection {
  color: #fff;
  background: $primary-color;
}

::selection {
  color: #fff;
  background: $primary-color;
}

body{
  overflow-x: hidden;
}

iframe {
  border: none;
}

a{
  @include transition(all 0.3s ease 0s);

  &:focus,
  &:active{
    @include css3-prefix('outline', 'none');
  }
}

dl {
  margin: 0 20px;
  dd {
    margin: 0 0 20px;
  }
}


img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: $vspacing;
}

.row {
  &.row-full-height {
    min-height: 100vh;
  }

  &.no-gutters{
    margin-right: 0;
    margin-left: 0;
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  // enable flex
  &.row-flex {
    @include css3-prefix-value(display, flex);
    @include css3-prefix(flex-wrap, wrap);
    & > [class^="col-"],
    & > [class*=" col-"] {
      @include css3-prefix-value(display, flex);
      float: none;
      > .col-inner{
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        @include css3-prefix-value(display, flex);
        @include css3-prefix-value(flex-direction, column);
        @include css3-prefix-value(flex-grow, 1);
      }
    }
    &.row-content-middle{
      & > [class^="col-"],
      & > [class*=" col-"] {
        > .col-inner{
          @include css3-prefix(justify-content, center);
        }
      }
    }

    &.row-content-bottom{
      & > [class^="col-"],
      & > [class*=" col-"] {
        > .col-inner{
          @include css3-prefix(justify-content, flex-end);
        }
      }
    }
  }
}


.round {  @include border-radius(2px);  }
.circle {  @include border-radius(100%);  }
.square {  @include border-radius(0);  }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.preview-image{
  position: absolute;
  top: 0;
  @include translate(x);
  @include opacity();
  max-width: none!important;
  pointer-events:none;
  z-index: 999;
}

.text-normal{
  text-transform: none;
}

.letter-spacing{  letter-spacing: 0.3em; }

.white{ color: #fff !important; }
.black{ color: #111 !important; }
.gray{ color: $gray-text!important; }

.bg-white{  background: $white; }
.bg-gray{  background: #f7f8fa; }
.bg-gray2{ background: #efefef; }
.bg-gray3{ background: #f7f8fa; }


.bg-text{background: $text;}
.bg-lightgreen{  background: #c7db9c; }
.bg-wheat{  background: #f4dc86; }
.bg-sky{  background: #a7c8eb; }
.bg-coral{  background: #ed8b5c; }
.bg-aquamarine{  background: #bce5d3; }
.bg-purple{background: #d1aece;}


.box-shadow{
  @include box-shadow(1px, 0, 3px, rgba($black, 0.05));
}



/**
 * Alignment
 */
.alignleft {
  display: inline;
  float: left;
  margin-right: $vspacing;
}
.alignright {
  display: inline;
  float: right;
  margin-left: $vspacing;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}


/**
 * Accessibility
 */
.screen-reader-text {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  display: block;
  font-weight: bold;
  height: auto;
  left: 0;
  line-height: normal;
  padding: 1em 1.618em;
  text-decoration: none;
  top: 0;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
  outline: none;
}


/**
 * Tables
 */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $vspacing;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        vertical-align: top;
        border-top: 1px solid $border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $border-color;
  }

}