body {
  min-width: 320px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 16px;
}

body,
button,
input,
textarea {
  font-family: $font-stack;
  line-height: 30px;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  margin: 0 0 20px;
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
  clear: both;
}

a {
  color: $primary-color;
  &:hover,
  &:focus{
    color: $primary-light-color;
    text-decoration: none;
  }
}

.font-light {
  font-weight: 300;
}

.font-black {
  font-weight: 900;
}

.text-transform-none{
  text-transform: none;
}


blockquote {
  background: $gray-bg;
  padding: 90px 45px 35px;
  margin-bottom: 30px;
  border: none;
  position: relative;
  font-size: 14px;
  color: $gray-text;

  &:before{
    background: $primary-color;
    color: #ffffff;
    content: "“";
    font-size: 36px;
    height: 32px;
    left: 45px;
    line-height: 55px;
    padding-left: 2px;
    position: absolute;
    top: 35px;
    width: 28px;
    text-align: left;
  }

  .blockquote-reverse {
    padding: 90px 45px 35px;
    &:before {
      left: auto;
      right: 45px;
      content: "”";
    }
  }

  p {
    margin-bottom: 15px;
  }

  *:last-child {
    margin-bottom: 0;
  }
}